<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Tableau de bord'" [items]="[]" [active_item]="'Rendez-vous'"></app-breadcrumb>
      </div>
       
      <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
        <div class="grid">
    
            <div class="col-12 md:col-6 lg:col-4">
                <div class="shadow-2 p-3 border-round" [style]="{'background-color':'green'}">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3  text-cyan-50">Rendez-vous éffectuer</span>
                            <div class="text-900 font-medium text-xl  text-cyan-50">152</div>
                        </div>
                        <div class="flex align-items-center justify-content-center  bg-white-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-window-minimize text-cyan-50 text-xl"></i>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-12 md:col-6 lg:col-4">
                <div class="shadow-2 p-3 border-round" [style]="{'background-color':'blue'}">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3 text-cyan-50">Rendez-vous en cour..</span>
                            <div class="text-900 font-medium text-xl text-cyan-50">100</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-white-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-window-maximize text-cyan-50 text-xl"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-4">
                <div class="shadow-2 p-3 border-round" [style]="{'background-color':'red'}">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3 text-cyan-50">Rendez-vous annuler</span>
                            <div class="text-900 font-medium text-xl text-cyan-50">28441</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-white-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-sync text-cyan-50 text-xl"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p-fieldset legend="Filtre" [toggleable]="true">
    
            <p-table #dt  [value]="rdvs"  [scrollable]="true" scrollHeight="400px"
            [globalFilterFields]="['dateDPrdv','daterdv','medecin','patient']"
            [filterDelay]="0"
                >
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        <!--la class ne change rien-->
                        <div class="left">
                            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
                            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                            <button pButton pRipple label="Enregistrer" icon="pi pi-send" class="p-button-help" pTooltip="Prendre un rendez-vous"></button>
                        </div>
        
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
        
                            <input pInputText type="text"
                            (input)="dt.filterGlobal(getEventValue($event), 'contains')"
                             placeholder="Rechercher..." 
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-rdv>
                    <tr>
                        <th pSortableColumn="dateDPrdv">Date de prise de rendez-vous<p-sortIcon field="dateDPrdv"></p-sortIcon></th>
                        <th pSortableColumn="daterdv">Date de rendez-vous <p-sortIcon field="daterdv"></p-sortIcon></th>
                        <th pSortableColumn="medecin">Medecin <p-sortIcon field="medecin"></p-sortIcon></th>
                        <th pSortableColumn="patient">Patient <p-sortIcon field="patient"></p-sortIcon></th>
                        <th ></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rdv let-index="rowIndex">
                    <tr>
                        <td style="min-width:200px">{{rdv.dateDPrdv}}</td>
                        <td style="min-width:200px">{{rdv.daterdv}}</td>
                        <td style="min-width:200px">{{rdv.medecin}}</td>
                        <td style="min-width:200px">{{rdv.patient}}</td>
        
                        <td style="flex: 0 0 4rem">
                            <button pButton pRipple type="button"  icon="pi pi-angle-right"  (click)="toggleLock(rdv,false,index)" 
                            class="p-button-rounded p-button-text"
                            ></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                     Total: {{rdvs ? rdvs.length : 0 }} Rendez-vous
                    </div>
                </ng-template>
            </p-table>
        </p-fieldset>
    </div>

    </div>
  </section>
