<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Patients'" [items]="[]" [active_item]="'patient'"></app-breadcrumb>
    </div>
    <div class="card">
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
        </ng-template>
        <ng-template pTemplate="right" *ngIf="getActif()">
            <button pButton pRipple label="Créer un nouveau patient" icon="pi pi-plus" class="p-button-help"
            ></button>
        </ng-template>
    </p-toolbar>
      <p-table #dt  [value]="patients"  [scrollable]="true" scrollHeight="400px"
      [globalFilterFields]="['user.nom','user.prenoms','lieuHabitation','profession']"
      [loading]="loading"
      [filterDelay]="0"
      styleClass="p-datatable-gridlines"
      selectionMode="multiple">
          <ng-template pTemplate="caption">
              <div class="flex align-items-center justify-content-between">
                  <h5 class="m-0">Patients</h5>
                  <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
  
                      <input pInputText type="text"
                      (input)="dt.filterGlobal(getEventValue($event), 'contains')"
                       placeholder="Rechercher..." 
                      />
  
                  </span>
              </div>
          </ng-template>
          <ng-template pTemplate="header" let-patient>
              <tr>
                  <th pSortableColumn="nom">Nom<p-sortIcon field="nom"></p-sortIcon></th>
                  <th pSortableColumn="prenoms">Prenom <p-sortIcon field="prenoms"></p-sortIcon></th>
                  <th pSortableColumn="genre">Genre <p-sortIcon field="genre"></p-sortIcon></th>
                  <th pSortableColumn="profession">Profession<p-sortIcon field="profession"></p-sortIcon></th>
                  <th pSortableColumn="lieuHabitation">Ville<p-sortIcon field="lieuHabitation"></p-sortIcon></th>
                  <th pSortableColumn="tel">Téléphone 1<p-sortIcon field="tel"></p-sortIcon></th>
                  <th pSortableColumn="tel2">Téléphone 2<p-sortIcon field="tel2"></p-sortIcon></th>
                  <th></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-patient let-index="rowIndex">
              <tr>
                  <td style="min-width:200px">{{patient.user.nom}}</td>
                  <td style="min-width:200px">{{patient.user.prenoms}}</td>
                  <td style="min-width:200px">{{patient.user.genre}}</td>
                  <td style="min-width:200px">{{patient.profession}}</td>
                  <td style="min-width:200px">{{patient.lieuHabitation}}</td>
                  <td style="min-width:200px">{{patient.user.tel}}</td>
                  <td style="min-width:200px">{{patient.user.tel2}}</td>
                  <td style="flex: 0 0 4rem">
                      <button pButton pRipple type="button"  icon="pi pi-angle-right"  (click)="detail(patient.id)" 
                      class="p-button-rounded p-button-text"
                      ></button>
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="summary">
              <div class="flex align-items-center justify-content-between">
               Total: {{patients ? patients.length : 0 }} patients
              </div>
          </ng-template>
      </p-table>
  </div>
  </div>
</section>