<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Patients'" [items]="[]" [active_item]="'patient'"></app-breadcrumb>
    </div>
    <div class="card">
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
        </ng-template>
    </p-toolbar>
      <p-table #dt  [value]="patients"  [scrollable]="true" scrollHeight="600px"
      [globalFilterFields]="['user.nom','user.prenoms','lieuHabitation','profession']"
      [loading]="loading"
      [filterDelay]="0"
      styleClass="p-datatable-gridlines"
      selectionMode="multiple">
          <ng-template pTemplate="caption">
              <div class="flex align-items-center justify-content-between">
                  <h5 class="m-0">Patients</h5>
                  <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
  
                      <input pInputText type="text"
                      (input)="dt.filterGlobal(getEventValue($event), 'contains')"
                       placeholder="Rechercher..." 
                      />
                  </span>
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th pSortableColumn="user.nom" [style]="{fontSize:'14px',color:'#2E5C2F',background:'rgb(46 92 47 / 10%)'}">Nom<p-sortIcon field="user.nom"></p-sortIcon></th>
                  <th pSortableColumn="user.prenoms" [style]="{fontSize:'14px',color:'#2E5C2F',background:'rgb(46 92 47 / 10%)'}">Prenom <p-sortIcon field="user.prenoms"></p-sortIcon></th>
                  <th pSortableColumn="user.genre" [style]="{fontSize:'14px',color:'#ff0000c4',background:'rgb(239 7 67 / 10%)'}">Genre <p-sortIcon field="user.genre"></p-sortIcon></th>
                  <th pSortableColumn="user.profession" [style]="{fontSize:'14px',color:'#f1749e',background:'rgb(241 116 158 / 10%)'}">Profession<p-sortIcon field="profession"></p-sortIcon></th>
                  <th pSortableColumn="user.lieuHabitation" [style]="{fontSize:'14px',color:'#f1749e',background:'rgb(241 116 158 / 10%)'}">Ville<p-sortIcon field="lieuHabitation"></p-sortIcon></th>
                  <th pSortableColumn="user.tel" [style]="{fontSize:'14px',color:'#2196F3',background:'rgb(33 150 243 / 10%)'}">Téléphone 1<p-sortIcon field="user.tel"></p-sortIcon></th>
                  <th pSortableColumn="user.tel2" [style]="{fontSize:'14px',color:'#2196F3',background:'rgb(33 150 243 / 10%)'}">Téléphone 2<p-sortIcon field="user.tel2"></p-sortIcon></th>
                  <th>Actions</th>
              </tr>
              <tr>
                  <th>
                      <p-columnFilter [showClearButton]="false" type="text" field="user.nom" matchMode="contains" pTooltip="Options de filtrage">
                          <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                              <input type="text" #valeur class="p-2 border" maxlength="20"
                                     [value]="value"
                                     pInputText
                                     (input)="filter(valeur.value)"
                              >
                          </ng-template>
                      </p-columnFilter>
                  </th>
                  <th>
                      <p-columnFilter [showClearButton]="false" type="text" field="user.prenoms" matchMode="contains" pTooltip="Options de filtrage">
                          <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                              <input type="text" #valeur class="p-2 border" maxlength="20"
                                     [value]="value"
                                     pInputText
                                     (input)="filter(valeur.value)"
                              >
                          </ng-template>
                      </p-columnFilter>
                  </th>
                  <th>
                      <p-columnFilter [showClearButton]="false" type="text" field="uer.genre" matchMode="contains" pTooltip="Options de filtrage">
                          <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                              <input type="text" #valeur class="p-2 border" maxlength="20"
                                     [value]="value"
                                     pInputText
                                     (input)="filter(valeur.value)"
                              >
                          </ng-template>
                      </p-columnFilter>
                  </th>
                  <th>
                      <p-columnFilter [showClearButton]="false" type="text" field="profession" matchMode="contains" pTooltip="Options de filtrage">
                          <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                              <input type="text" #valeur class="p-2 border" maxlength="20"
                                     [value]="value"
                                     pInputText
                                     (input)="filter(valeur.value)"
                              >
                          </ng-template>
                      </p-columnFilter>
                  </th>
                  <th>
                      <p-columnFilter [showClearButton]="false" type="text" field="lieuHabitation" matchMode="contains" pTooltip="Options de filtrage">
                          <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                              <input type="text" #valeur class="p-2 border" maxlength="20"
                                     [value]="value"
                                     pInputText
                                     (input)="filter(valeur.value)"
                              >
                          </ng-template>
                      </p-columnFilter>
                  </th>
                  <th>
                      <p-columnFilter [showClearButton]="false" type="text" field="user.tel" matchMode="contains" pTooltip="Options de filtrage">
                          <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                              <input type="text" #valeur class="p-2 border" maxlength="20"
                                     [value]="value"
                                     pInputText
                                     (input)="filter(valeur.value)"
                              >
                          </ng-template>
                      </p-columnFilter>
                  </th>
                  <th>
                      <p-columnFilter [showClearButton]="false" type="text" field="tel2" matchMode="contains" pTooltip="Options de filtrage">
                          <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                              <input type="text" #valeur class="p-2 border" maxlength="20"
                                     [value]="value"
                                     pInputText
                                     (input)="filter(valeur.value)"
                              >
                          </ng-template>
                      </p-columnFilter>
                  </th>
                  <th></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-patient>
              <tr>
                  <td style="min-width:200px" [style]="{color:'#2E5C2F'}">{{patient.user.nom}}</td>
                  <td style="min-width:200px" [style]="{color:'#2E5C2F'}">{{patient.user.prenoms}}</td>
                  <td style="min-width:200px" [style]="{color:'red'}">{{patient.user.genre.libelle}}</td>
                  <td style="min-width:200px" [style]="{color:'#f1749e'}">{{patient.profession}}</td>
                  <td style="min-width:200px" [style]="{color:'#f1749e'}">{{patient.lieuHabitation}}</td>
                  <td style="min-width:200px" [style]="{color:'#2196F3'}">{{patient.user.tel}}</td>
                  <td style="min-width:200px" [style]="{color:'#2196F3'}">{{patient.user.tel2}}</td>
                  <td style="min-width:200px">
                      <button pButton pRipple type="button"  icon="pi pi-angle-right"  (click)="detail(patient.id)" 
                      class="p-button-rounded p-button-text"
                      ></button>
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="summary">
              <div class="flex align-items-center justify-content-between">
               Total: {{patients ? patients.length : 0 }} patients
                  <button pButton pRipple label="Créer un patient" icon="pi pi-plus" class="p-button-help"
                          *ngIf="urlActif()"></button>
              </div>
              </ng-template>
      </p-table>
  </div>
  </div>
</section>
