<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Pharmacie'" [items]="[]" [active_item]="'vente'"></app-breadcrumb>
      </div>
      <div class="card">
        <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
                <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
            </ng-template>
    
            <ng-template pTemplate="right">
                
                <button pButton pRipple label="Ajouter une depense" icon="pi pi-plus" class="p-button-help" (click)="openNew()"></button>
            </ng-template>
        </p-toolbar>
    
        <p-table #dt  [value]="depenses"  [scrollable]="true" scrollHeight="400px"
        [globalFilterFields]="['id','libelle','quantite']"
        [loading]="loading"
        [filterDelay]="0"
            >
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <h4 class="m-0">Depenses</h4>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
    
                        <input pInputText type="text"
                        (input)="dt.filterGlobal(getEventValue($event), 'contains')"
                         placeholder="Rechercher..." 
                        />
    
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">Identifiant<p-sortIcon field="libelle"></p-sortIcon></th>
                    <th pSortableColumn="libelle">Designation <p-sortIcon field="email"></p-sortIcon></th>
                    <th pSortableColumn="libelle">Prix <p-sortIcon field="email"></p-sortIcon></th>
                    <th pSortableColumn="posologie">Date de depense <p-sortIcon field="tel"></p-sortIcon></th>
                    <th pSortableColumn="quantite">Quantite<p-sortIcon field="ville"></p-sortIcon></th>
    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-depense>
                <tr>
                    <td style="min-width:200px">{{depense.id}}</td>
                    <td style="min-width:200px">{{depense.libelle}}</td>
                    <td style="min-width:200px">{{depense.posologie}}</td>
                    <td style="min-width:200px">{{depense.quantite}}</td>
                    <td style="flex: 0 0 4rem">
                        <button pButton pRipple type="button"  icon="pi pi-pencil"  (click)="detail(depense)" 
                        class="p-button-rounded p-button-text"
                        ></button>
                    </td>
                    <td style="flex: 0 0 4rem">
                        <button pButton pRipple type="button"  icon="pi pi-angle-right"  (click)="detail(depense)" 
                        class="p-button-rounded p-button-text"
                        ></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                 Total: {{depenses ? depenses.length : 0 }}
                </div>
            </ng-template>
        </p-table>
    </div>
    
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
        <p-dialog [(visible)]="personneDialog" [style]="{width: '460px'}" header="Nouvelle vente" [modal]="true"
                  styleClass="p-fluid">
            <form>
                <div class="grid">
                    <div class="col-12 md:col-6 lg:col-6">
                    <span>
                       <h4>Nom assurance</h4>
                      <input type="text" pInputText>
                    </span>
                    </div>
                    <div class="col-12 md:col-6 lg:col-6">
                    <span>
                      <h4>E-mail assurance</h4>
                      <input type="email" pInputText>
                    </span>
                    </div>
                    <div class="col-12">
                    <span>
                      <h4>Contact assurance</h4>
                      <input type="text" pInputText>
                    </span>
                    </div>
                    <div class="col-12">
            <span>
            <h4>Ville</h4>
              <input type="text" pInputText>
            </span>
                    </div>
                    <div class="col-12 md:col-12">
                        <div class="flex justify-content-end">
                            <p-button label="Enregistrer" icon="pi pi-check" type="submit">
                            </p-button>
                            <p-button label="Annuler" icon="pi pi-times" styleClass="p-button-sm p-button-danger ml-2">
                            </p-button>
                        </div>
                    </div>
                </div>
            </form>
        </p-dialog>
        <p-toast key="myKey1"></p-toast>
    </div>
  </section>
