<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Assurance'" [items]="[]" [active_item]="'assurance'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">

          </div>
          <div class="body">

            <!-- Assurance -->

            <mat-tab-group dynamicHeight>
              <mat-tab label="Liste des assurances">
                <div class="mat-elevation-z8">
                  <input class="form-control" (keyup)="applyFilter($event)" placeholder="nom de l'assurance" #input>
                  <table mat-table [dataSource]="assurance">
                    <!-- Id Column -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> ID </th>
                      <td mat-cell *matCellDef="let element"> {{element.id}} </td>

                    </ng-container>


                    <!-- Name Column -->
                    <ng-container matColumnDef="libelle">
                      <th mat-header-cell *matHeaderCellDef> Nom de l'assurance </th>
                      <td mat-cell *matCellDef="let element"> {{element.libelle}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="emailAssurance">
                      <th mat-header-cell *matHeaderCellDef> E-mail Assurance </th>
                      <td mat-cell *matCellDef="let element"> {{element.emailAssurance}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="contact">
                      <th mat-header-cell *matHeaderCellDef> Contact </th>
                      <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
                    </ng-container>

                    <ng-container matColumnDef="ville">
                      <th mat-header-cell *matHeaderCellDef>Ville</th>
                      <td mat-cell *matCellDef="let element"> {{element.ville}} </td>
                    </ng-container>

                    <ng-container matColumnDef="edit">
                      <th mat-header-cell *matHeaderCellDef> Detail </th>
                      <td mat-cell *matCellDef="let element">
                        <button mat-button (click)="detail(element.id)">
                          <mat-icon color="primary">
                            login
                          </mat-icon>
                        </button>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                  </mat-paginator>
                </div>
              </mat-tab>
              <!--Responsable-->

              <mat-tab label="Liste des responsables">
                <div class="mat-elevation-z8">
                  <input class="form-control" (keyup)="applyFilter1($event)" placeholder="nom du responsable" #input>

                  <table mat-table [dataSource]="responsable">
                    <!-- Id Column -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> ID </th>
                      <td mat-cell *matCellDef="let element"> {{element.id}} </td>

                    </ng-container>


                    <!-- Name Column -->
                    <ng-container matColumnDef="nom">
                      <th mat-header-cell *matHeaderCellDef> Nom</th>
                      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="prenoms">
                      <th mat-header-cell *matHeaderCellDef> Prenom</th>
                      <td mat-cell *matCellDef="let element"> {{element.prenoms}} </td>
                    </ng-container>


                    <!-- Weight Column -->
                    <ng-container matColumnDef="genre">
                      <th mat-header-cell *matHeaderCellDef>Genre </th>
                      <td mat-cell *matCellDef="let element"> {{element.genre}} </td>
                    </ng-container>

                    <ng-container matColumnDef="residence">
                      <th mat-header-cell *matHeaderCellDef>Ville</th>
                      <td mat-cell *matCellDef="let element"> {{element.residence}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="tel">
                      <th mat-header-cell *matHeaderCellDef> Numéro de Télephone </th>
                      <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef>E-mail</th>
                      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="edit">
                      <th mat-header-cell *matHeaderCellDef> Detail </th>
                      <td mat-cell *matCellDef="let element">
                        <button mat-button (click)="detail1(element.id)">
                          <mat-icon color="primary">
                            login
                          </mat-icon>
                        </button>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
                  </table>
                  <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                  </mat-paginator>
                </div>
              </mat-tab>
            </mat-tab-group>
            <!---->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>