<section class="content">
	<div class="content-block">
		<div class="block-header">
			<!-- breadcrumb -->
			<app-breadcrumb [title]="'Tableau de bord'" [items]="[]" [active_item]="'Rendez-vous'"></app-breadcrumb>
		</div>
		<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
			<div class="grid">
				<div class="col-12 md:col-6 lg:col-4">
					<div class="shadow-4 p-3 border-round" [style]="{'background-color':'green'}">
						<div class="flex justify-content-between mb-3">
							<div>
								<span class="block text-500 font-medium mb-3  text-cyan-50">Rendez-vous éffectué</span>
								<div class="text-900 font-medium text-xl  text-cyan-50">15 485 758</div>
							</div>
							<div class="flex align-items-center justify-content-center  bg-white-100 border-round" style="width:2.5rem;height:2.5rem">
								<i class="pi pi-window-minimize text-cyan-50 text-xl"></i>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 md:col-6 lg:col-4">
					<div class="shadow-4 p-3 border-round" [style]="{'background-color':'blue'}">
						<div class="flex justify-content-between mb-3">
							<div>
								<span class="block text-500 font-medium mb-3 text-cyan-50">Rendez-vous en cour..</span>
								<div class="text-900 font-medium text-xl text-cyan-50">100 892</div>
							</div>
							<div class="flex align-items-center justify-content-center bg-white-100 border-round" style="width:2.5rem;height:2.5rem">
								<i class="pi pi-window-maximize text-cyan-50 text-xl"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 md:col-6 lg:col-4">
					<div class="shadow-4 p-3 border-round" [style]="{'background-color':'red'}">
						<div class="flex justify-content-between mb-3">
							<div>
								<span class="block text-500 font-medium mb-3 text-cyan-50">Rendez-vous annulé</span>
								<div class="text-900 font-medium text-xl text-cyan-50">0</div>
							</div>
							<div class="flex align-items-center justify-content-center bg-white-100 border-round" style="width:2.5rem;height:2.5rem">
								<i class="pi pi-sync text-cyan-50 text-xl"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<p-fieldset legend="Filtre" [toggleable]="true">
				<p-table #dt [value]="rendezVous" [scrollable]="true" scrollHeight="490px"
						 [globalFilterFields]="['dateDPrdv','daterdv','medecin','patient']"
						 [filterDelay]="0"
						 styleClass="p-datatable-gridlines"
						 selectionMode="multiple">
					<ng-template pTemplate="caption">
						<div class="flex align-items-center justify-content-between">
							<div class="left">
								<button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
								<button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-4" pTooltip="PDF" tooltipPosition="bottom"></button>
								<button *ngIf="urlActif()" pButton pRipple label="Créer un rendez-vous" icon="pi pi-plus" class="p-button-help" (click)="newRendezVous()"></button>
							</div>

							<span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
        
                            <input pInputText type="text"
								   (input)="dt.filterGlobal(getEventValue($event), 'contains')"
								   placeholder="Rechercher..."/>
                        </span>
						</div>
					</ng-template>
					<ng-template pTemplate="header">
						<tr>
							<th pSortableColumn="assure.user.nom">Patient
								<p-sortIcon field="assure.user.nom"></p-sortIcon>
							</th>
							<th pSortableColumn="updatedAt">Date de prise de rendez-vous
								<p-sortIcon field="updatedAt"></p-sortIcon>
							</th>
							<th pSortableColumn="dateHeure">Date du rendez-vous
								<p-sortIcon field="dateHeure"></p-sortIcon>
							</th>
							<th pSortableColumn="lieu">Lieu du rendez-vous
								<p-sortIcon field="lieu"></p-sortIcon>
							</th>
							<th pSortableColumn="medecin">Statut
								<p-sortIcon field="medecin"></p-sortIcon>
							</th>
							<th>Actions</th>
						</tr>
						<tr>
							<th>
								<p-columnFilter [showClearButton]="false" type="text" field="assure.user.nom" matchMode="contains" pTooltip="Options de filtrage">
									<ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
										<input type="text" #valeur class="p-2 border" maxlength="20"
											   [value]="value"
											   pInputText
											   (input)="filter(valeur.value)"
										>
									</ng-template>
								</p-columnFilter>
							</th>
							<th>
								<p-columnFilter [showClearButton]="false" type="text" field="updatedAt" matchMode="contains" pTooltip="Options de filtrage">
									<ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
										<input type="text" #valeur class="p-2 border" maxlength="20"
											   [value]="value"
											   pInputText
											   (input)="filter(valeur.value)"
										>
									</ng-template>
								</p-columnFilter>
							</th>
							<th>
								<p-columnFilter [showClearButton]="false" type="text" field="dateHeure" matchMode="contains" pTooltip="Options de filtrage">
									<ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
										<input type="text" #valeur class="p-2 border" maxlength="20"
											   [value]="value"
											   pInputText
											   (input)="filter(valeur.value)"
										>
									</ng-template>
								</p-columnFilter>
							</th>

							<th>
								<p-columnFilter [showClearButton]="false" type="text" field="lieu" matchMode="contains" pTooltip="Options de filtrage">
									<ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
										<input type="text" #valeur class="p-2 border" maxlength="20"
											   [value]="value"
											   pInputText
											   (input)="filter(valeur.value)"
										>
									</ng-template>
								</p-columnFilter>
							</th>

							<th>
								<p-columnFilter [showClearButton]="false" field="statut" matchMode="contains" [showMenu]="false" [style]="{width:'200px'}">
									<ng-template pTemplate="filter" let-value let-filter="filterCallback">
										<p-dropdown appendTo="body" [baseZIndex]="3000" [ngModel]="value" [options]="statut" (onChange)="filter($event.value)" placeholder="Pas de filtre" [showClear]="false">
											<ng-template let-option pTemplate="item">
												<span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
											</ng-template>
										</p-dropdown>
									</ng-template>
								</p-columnFilter>
							</th>
							<th></th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-rendezVous>
						<tr>
							<td>
								<span *ngIf="rendezVous.assure">{{rendezVous.assure.user.nom}}</span>
								<span *ngIf="rendezVous.assure==null">  </span>
							</td>
							<td>{{rendezVous.updatedAt}}</td>
							<td>{{rendezVous.dateHeure}}</td>

							<td>
								<span *ngIf="rendezVous.lieu">{{rendezVous.lieu}}</span>
								<span *ngIf="rendezVous.lieu==null">  </span>
							</td>
							<td>
								<p-tag *ngIf="rendezVous.statut" severity="success" value="Effectué"></p-tag>
								<p-tag *ngIf="!rendezVous.statut" severity="danger" value="Non éffectué"></p-tag>
							</td>
							<td>
								<button pButton pRipple type="button" pTooltip="Detail rendez-vous" icon="pi pi-angle-right"
										class="p-button-rounded p-button-text"
								></button>
								<button pButton pRipple type="button" pTooltip="Supprimer le rendez-vous" icon="pi pi-trash" (click)="supprimerRendezVous(rendezVous)"
										class="p-button-rounded p-button-text p-button-danger"></button>
							</td>
						</tr>
					</ng-template>
					<ng-template pTemplate="summary">
						<div class="flex align-items-center justify-content-between">
							Total: {{rendezVous ? rendezVous.length : 0 }} Rendez-vous
						</div>
					</ng-template>
				</p-table>
			</p-fieldset>
			<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
			<p-toast></p-toast>
			<p-dialog [(visible)]="rendezVousDialog" [style]="{width:'700px'}" header="Création d'un rendez-vous" [modal]="true"
					  styleClass="p-fluid">
				<form [formGroup]="rendezVousForms" (ngSubmit)="enregistrerRendezVous()">
					<div class="grid">
						<div class="col-12 md:col-6 lg:col-4">
						  <span>
							<label>Date du rendez-vous</label>
							<p-calendar [baseZIndex]="3000" appendTo="body" [showIcon]="true" inputId="icon"></p-calendar>
						  </span>
						</div>

						<div class="col-12 md:col-6 lg:col-4">
						  <span>
							<label>Patient</label>
							<p-autoComplete  formControlName="patient" [virtualScroll]="true" [suggestions]="patientsForm"  (completeMethod)="patientsItems($event)" field="user.nom" [dropdown]="true">
							</p-autoComplete>
						  </span>
						</div>

						<div class="col-12 md:col-6 lg:col-4" *ngIf="medecinActif()">
							<label>Medecin</label>
							<p-autoComplete  formControlName="medecin" [virtualScroll]="true" [suggestions]="medecinsForm"  (completeMethod)="medecinItems($event)" field="user.nom" [dropdown]="true">
							</p-autoComplete>
						</div>

						<div class="col-12 md:col-6 lg:col-4" *ngIf="receptionActif()">
							<label>Reception</label>
							<input type="text" pInputText formControlName="reception">
						</div>

						<div class="col-12 md:col-6 lg:col-4">
						  <span>
							<label>Statut</label>
							<input type="text" pInputText formControlName="statut">
						  </span>
						</div>

						<div class="col-12">
							<p-divider align="center" type="dashed" layout="horizontal">
								<div class="inline-flex align-items-center">
									<i class="pi pi-user mr-2"></i>
									<b>Contacts</b>
								</div>
							</p-divider>

						</div>

						<div class="col-12">
							<span>
							  <label>Adresse</label>
							  <input type="text" pInputText formControlName="adresse">
							</span>
						</div>
						<div class="col-12">
							<span>
							  <label>Commentaire</label>
								<textarea pInputTextarea [style]="{'height':'160px'}" formControlName="commentaire"></textarea>
							</span>
						</div>

						<div class="col-12 md:col-12">
							<div class="flex justify-content-end">
								<button type="submit" pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-bouton-texte p-bouton-sm
                                  w-10rem h-2rem m-2"></button>
								<button type="button" pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-danger p-bouton-sm
                                  w-10rem h-2rem m-2" (click)="newRendezVous()"></button>
							</div>
						</div>
					</div>
				</form>
			</p-dialog>
		</div>
	</div>
</section>
