<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Reception'" [items]="[]" [active_item]="'reception'"></app-breadcrumb>
    </div>
    <div class="card">
      <p-toolbar styleClass="mb-4">
          <ng-template pTemplate="left">
              <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
              <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
          </ng-template>
  
          <ng-template pTemplate="right">
              <button pButton pRipple label="Créer une nouvelle receptionnistre" icon="pi pi-plus" class="p-button-help" (click)="newReception()"></button>
          </ng-template>
      </p-toolbar>
  
      <p-table #dt  [value]="receptions"  [scrollable]="true" scrollHeight="400px"
      [globalFilterFields]="['user.nom','user.prenoms']"
      [loading]="loading"
      styleClass="p-datatable-gridlines"
      selectionMode="multiple"
      [filterDelay]="0">
          <ng-template pTemplate="caption">
              <div class="flex align-items-center justify-content-between">
                  <h5 class="m-0">Receptions</h5>
                  <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
  
                      <input pInputText type="text"
                      (input)="dt.filterGlobal(getEventValue($event), 'contains')"
                       placeholder="Rechercher..." 
                      />
  
                  </span>
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th pSortableColumn="nom">Nom<p-sortIcon field="nom"></p-sortIcon></th>
                  <th pSortableColumn="prenoms">Prénom <p-sortIcon field="prenoms"></p-sortIcon></th>
                  <th pSortableColumn="genre">Genre<p-sortIcon field="genre"></p-sortIcon></th>
                  <th pSortableColumn="email">E-mail <p-sortIcon field="email"></p-sortIcon></th>
                  <th pSortableColumn="tel">Téléphone 1<p-sortIcon field="tel"></p-sortIcon></th>
                  <th pSortableColumn="tel2">E-mail <p-sortIcon field="tel2"></p-sortIcon></th>
                  <th ></th>
              </tr>
              <tr>
                  <th>
                      <p-columnFilter [showClearButton]="false" type="text" field="nom" matchMode="contains" pTooltip="Options de filtrage">
                          <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                              <input type="text" #valeur class="p-2 border" maxlength="20"
                                     [value]="value"
                                     pInputText
                                     (input)="filter(valeur.value)"
                              >
                          </ng-template>
                      </p-columnFilter>
                  </th>
                  <th>
                      <p-columnFilter [showClearButton]="false" type="text" field="prenoms" matchMode="contains" pTooltip="Options de filtrage">
                          <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                              <input type="text" #valeur class="p-2 border" maxlength="20"
                                     [value]="value"
                                     pInputText
                                     (input)="filter(valeur.value)"
                              >
                          </ng-template>
                      </p-columnFilter>
                  </th>
                  <th>
                      <p-columnFilter [showClearButton]="false" type="text" field="genre" matchMode="contains" pTooltip="Options de filtrage">
                          <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                              <input type="text" #valeur class="p-2 border" maxlength="20"
                                     [value]="value"
                                     pInputText
                                     (input)="filter(valeur.value)"
                              >
                          </ng-template>
                      </p-columnFilter>
                  </th>
                  <th>
                      <p-columnFilter [showClearButton]="false" type="text" field="email" matchMode="contains" pTooltip="Options de filtrage">
                          <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                              <input type="text" #valeur class="p-2 border" maxlength="20"
                                     [value]="value"
                                     pInputText
                                     (input)="filter(valeur.value)"
                              >
                          </ng-template>
                      </p-columnFilter>
                  </th>
                  <th>
                      <p-columnFilter [showClearButton]="false" type="text" field="tel" matchMode="contains" pTooltip="Options de filtrage">
                          <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                              <input type="text" #valeur class="p-2 border" maxlength="20"
                                     [value]="value"
                                     pInputText
                                     (input)="filter(valeur.value)"
                              >
                          </ng-template>
                      </p-columnFilter>
                  </th>
                  <th>
                      <p-columnFilter [showClearButton]="false" type="text" field="tel2" matchMode="contains" pTooltip="Options de filtrage">
                          <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                              <input type="text" #valeur class="p-2 border" maxlength="20"
                                     [value]="value"
                                     pInputText
                                     (input)="filter(valeur.value)"
                              >
                          </ng-template>
                      </p-columnFilter>
                  </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-reception>
              <tr>
                  <td style="min-width:200px">{{reception.user.nom}}</td>
                  <td style="min-width:200px">{{reception.user.prenoms}}</td>
                  <td style="min-width:200px">{{reception.user.genre}}</td>
                  <td style="min-width:200px">{{reception.user.email}}</td>
                  <td style="min-width:200px">{{reception.user.tel}}</td>
                  <td style="min-width:200px">{{reception.user.tel2}}</td>
                  <td style="flex: 0 0 4rem">
                      <button pButton pRipple type="button"  icon="pi pi-pencil"  (click)="detail(reception)" 
                      class="p-button-rounded p-button-text"
                      ></button>
                  </td>
                  <td style="flex: 0 0 4rem">
                      <button pButton pRipple type="button"  icon="pi pi-angle-right"  (click)="detail(reception)" 
                      class="p-button-rounded p-button-text"
                      ></button>
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="summary">
              <div class="flex align-items-center justify-content-between">
               Total: {{receptions ? receptions.length : 0 }} Receptionnistre
              </div>
          </ng-template>
      </p-table>
  </div>
  
  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  
  <p-toast></p-toast>
  <p-dialog [(visible)]="receptionDialog" [style]="{width: '560px'}" header="Création d'une nouvelle receptionniste" [modal]="true"
            styleClass="p-fluid">
    <form [formGroup]="receptionForms" (ngSubmit)="enregistrerReception()">
      <div class="grid">

          <div class="col-6">
            <span>
              <label>Nom</label>
              <input type="text" pInputText formControlName="nom">
            </span>
          </div>

          <div class="col-6">
            <span>
              <label>Prénom</label>
              <input type="text" pInputText formControlName="prenoms">
            </span>
          </div>

          <div class="col-6">
            <span>
              <label>Nom d'utilisateur</label>
              <input type="text" pInputText formControlName="login">
            </span>
          </div>

          <div class="col-6">
            <span>
              <label>Mot de passe</label>
              <input type="password" pInputText formControlName="password">
            </span>
          </div>

          <div class="col-6">
            <label>Date de naissance</label>
            <p-calendar [baseZIndex]="3000" appendTo="body" [showIcon]="true" inputId="icon"></p-calendar>
          </div>

          <div class="col-6">
            <label>Genre</label>
            <p-dropdown [options]="genres" optionLabel="name" [showClear]="true"
              formControlName="genre">
              </p-dropdown>
          </div>

        <div class="col-12">
          <p-divider align="center" type="dashed" layout="horizontal">
            <div class="inline-flex align-items-center">
              <i class="pi pi-user mr-2"></i>
              <b>Contacts</b>
            </div>
          </p-divider>

        </div>

        <div class="col-12">
          <span>
            <label>E-mail</label>
            <input type="email" pInputText formControlName="email">
          </span>
        </div>

        <div class="col-12">
          <span>
            <label>Téléphone 1</label>
            <input type="text" pInputText formControlName="tel">
          </span>
        </div>

        <div class="col-12">
          <span>
            <label>Téléphone 2</label>
            <input type="text" pInputText formControlName="tel2">
          </span>
        </div>

        <div class="col-12 md:col-12">
          <div class="flex justify-content-end">
            <button type="submit" pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-bouton-texte p-bouton-sm
                           w-10rem h-2rem m-2"></button>
            <button type="button" pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-danger p-bouton-sm
                           w-10rem h-2rem m-2" (click)="newReception()"></button>
          </div>
        </div>

      </div>
    </form>
  </p-dialog>
  </div>
</section>
