<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Assurance'" [items]="[]" [active_item]="assurance.libelle"></app-breadcrumb>
      </div>
      <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">  
        <div class="grid">
            <div class="col-12 md:col-6 lg:col-3">
                <div class="surface-card shadow-2 p-3 border-round">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Patients</span>
                            <div class="text-900 font-medium text-xl">300</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-users text-blue-500 text-xl"></i>
                        </div>
                    </div>
                    <span class="text-500">Facture: </span>
                    <span class="text-green-500 font-medium">37 000 000 FCFA </span>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="surface-card shadow-2 p-3 border-round">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Consultations à domicile</span>
                            <div class="text-900 font-medium text-xl">120</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-user-plus text-orange-500 text-xl"></i>
                        </div>
                    </div>
                    <span class="text-500">Montant: </span>
                    <span class="text-green-500 font-medium">20 000 000 FCFA</span>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="surface-card shadow-2 p-3 border-round">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Chats</span>
                            <div class="text-900 font-medium text-xl">170</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-comment text-cyan-500 text-xl"></i>
                        </div>
                    </div>
                    <span class="text-500">Montant: </span>
                    <span class="text-green-500 font-medium">10 000 000 FCFA</span>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="surface-card shadow-2 p-3 border-round">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Appels Téléphonique</span>
                            <div class="text-900 font-medium text-xl">10</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-phone text-purple-500 text-xl"></i>
                        </div>
                    </div>
                    <span class="text-500">Montant: </span>
                    <span class="text-green-500 font-medium">7 000 000 FCFA</span>
                </div>
            </div>

            <div class="col-12 md:col-12 lg:col-12">
              
              <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                <div class="col-md-4">
                  <h3 class="font-weight-light col-orange">Information sur l'assurance</h3>
                  <div class="progress-list m-b-10">
                    <div class="details">
                      <div class="title">Identifiant : {{assurance.id}}</div>
                    </div>
                  </div>
                  <div class="progress-list m-b-10">
                    <div class="details">
                      <div class="title">Nom : {{assurance.libelle}}</div>
                    </div>
                  </div>
                  <div class="progress-list m-b-10">
                    <div class="details">
                      <div class="title">E-mail :{{assurance.email}} </div>
                    </div>
                  </div>

                  <div class="progress-list m-b-10">
                    <div class="details">
                      <div class="title">Numéro :{{assurance.tel}} </div>
                    </div>
                  </div>
                  <div class="progress-list m-b-10">
                    <div class="details">
                      <div class="title">Ville : {{assurance.ville}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <!-- chart [chartType]="doughnutChartType"-->
                  <div class="recent-report__chart">
                    <canvas baseChart class="chart" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                      [options]="doughnutChartOptions" [legend]="doughnutChartLegend" chartType="doughnut"
                  
                      [colors]="doughnutChartColors"></canvas>
                  </div>
                </div>

                <div class="col-md-4 mt-3">
                  <div class="country-chart">
                    <div class="d-flex justify-content-between mx-xl-5 mt-3">
                      <div class="chart-note">
                        <span class="dot dot-product bg-green"></span>
                        <span>Chat</span>
                      </div>
                      <p class="mb-0">30,289 FCFA</p>
                    </div>
                    <div class="d-flex justify-content-between mx-xl-5 mt-3">
                      <div class="chart-note">
                        <span class="dot dot-product bg-orange"></span>
                        <span>Appel Téléphonique</span>
                      </div>
                      <p class="mb-0">525,968 FCFA</p>
                    </div>
                    <div class="d-flex justify-content-between mx-xl-5 mt-3">
                      <div class="chart-note">
                        <span class="dot dot-product bg-purple"></span>
                        <span>Appel Vidéo</span>
                      </div>
                      <p class="mb-0">45,278 FCFA</p>
                    </div>
                  </div>
                </div>
              </div>
              </div>
          </div>
        </div>
        <div class="card">
          <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
              <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
              <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
                class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
            </ng-template>
    
            <ng-template pTemplate="right">
    
              <button pButton pRipple label="Créer un nouveau responsable" icon="pi pi-plus" class="p-button-help"
                (click)="openNew()"></button>
            </ng-template>
          </p-toolbar>
    
          <p-table #dt [value]="responsables" [scrollable]="true" scrollHeight="200px"
            [globalFilterFields]="['nom','prenoms','ville']"
             [loading]="loading" 
             [filterDelay]="0"
             styleClass="p-datatable-gridlines"
             [resizableColumns]="true"
             >
            <ng-template pTemplate="caption">
              <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Responsables</h5>
                <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
    
                  <input pInputText type="text" (input)="dt.filterGlobal(getEventValue($event), 'contains')"
                    placeholder="Rechercher..." />
    
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-responsable>
              <tr>
                <th pSortableColumn="libelle">Nom<p-sortIcon field="libelle"></p-sortIcon>
                </th>
                <th pSortableColumn="email">E-mail <p-sortIcon field="email"></p-sortIcon>
                </th>
                <th pSortableColumn="tel">Contact <p-sortIcon field="tel"></p-sortIcon>
                </th>
                <th pSortableColumn="ville">Ville<p-sortIcon field="ville"></p-sortIcon>
                </th>
              </tr>
              
              <tr>	
                <th>
                  <p-columnFilter type="text" field="libelle"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="text" field="email"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="text" field="tel"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="text" field="ville"></p-columnFilter>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-responsable let-index="rowIndex">
              <tr>
                <td >{{responsable.nom}}</td>
                <td >{{responsable.prenoms}}</td>
                <td >{{responsable.genre}}</td>
                <td >{{assurance.ville}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              <div class="flex align-items-center justify-content-between">
                Total: {{responsables ? responsables.length : 0 }}responsable
              </div>
            </ng-template>
          </p-table>
        </div>
    
        <p-dialog [(visible)]="personneDialog" [style]="{width: '650px'}" header="Formulaire d'enregistrement d'un responsable" [modal]="true"
          styleClass="p-fluid">
          <form [formGroup]="responsableForms">
            <div class="p-fluid grid">
              <!--ligne1-->
              <div class="col-12 md:col-6 lg:col-4">
                <span class="p-float-label">
                  <input type="text" id="inputtext1" pInputText  formControlName="nom">
                  <label for="inputtext1">Nom</label>
                </span>
              </div>
    
              <div class="col-12 md:col-6 lg:col-4">
                <span class="p-float-label">
                  <input type="text" id="inputtext2" pInputText formControlName="prenoms">
                  <label for="inputtext2">Prénom</label>
                </span>
              </div>
    
              <div class="col-12 md:col-6 lg:col-4">
                <span class="p-float-label">
                  <input type="text" id="inputtext2" pInputText  formControlName="login">
                  <label for="inputtext2">Nom d'utilisateur</label>
                </span>
              </div>
                  <!--ligne2-->
              <div class="col-12 md:col-6 lg:col-4">
                <span class="p-float-label">
                  <input type="text" id="inputtext1" pInputText  formControlName="genre">
                  <label for="inputtext1">Genre</label>
                </span>
              </div>
    
              <div class="col-12 md:col-6 lg:col-4">

                  <span class="p-float-label">
                    <input type="date" 
                    pInputText inputId="icon"   formControlName="dateNaissance" >
                  </span>
              </div>
    
              <div class="col-12 md:col-6 lg:col-4">
                <span class="p-float-label">
                  <input type="email" id="inputtext2" pInputText  formControlName="email">
                  <label for="inputtext2">E-mail</label>
                </span>
              </div>

              <!--ligne3-->
              <div class="col-12">
                <p-divider align="left">
                  <div class="inline-flex align-items-center">
                    <i class="pi pi-user mr-2"></i>
                    <b>Contacts</b>
                  </div>
                </p-divider>
              </div>
              <div class="col-12">
                <span class="p-float-label">
                  <input type="text" id="inputtext3" pInputText formControlName="tel">
                  <label for="inputtext3">Téléphone 1</label>
                </span>
              </div>
              <div class="col-12">
                <span class="p-float-label">
                  <input type="text" id="inputtext3" pInputText formControlName="tel2">
                  <label for="inputtext3">Téléphone 2</label>
                </span>
              </div>
    
              <div class="col-12">
                <span class="p-float-label">
                  <input type="password" id="inputtext3" pInputText formControlName="password">
                  <label for="inputtext3">Mot de passe</label>
                </span>
              </div>

              <div class="col-12 md:col-6 lg:col-4">
                <button type="submit" pButton pRipple 
                label="Enregistrer" icon="pi pi-check" 
                class="p-button-text p-button-sm"
                  (click)="SaveData()" [disabled]="!responsableForms.valid">
                </button>
              </div>
    
            </div>
          </form>
        </p-dialog>
        <p-toast key="myKey1"></p-toast>
    </div>
    </div>
  </section>
