<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Assurance'" [items]="[]" [active_item]="'assurance'"></app-breadcrumb>
    </div>

    <div class="card">
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
            class="p-button-success mr-2" pTooltip="Export XLSX" tooltipPosition="bottom"></button>
          <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
            class="p-button-warning mr-2" pTooltip="Export PDF" tooltipPosition="bottom"></button>
        </ng-template>

        <ng-template pTemplate="right">

          <button pButton pRipple label="Créer une nouvel assurance" icon="pi pi-plus" class="p-button-help"
            (click)="newAssurance()" *ngIf="urlActif()"></button>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="assurances" 
      [scrollable]="true" 
      scrollHeight="500px"
        [globalFilterFields]="['libelle','email','ville']" 
        [loading]="loading" 
        [filterDelay]="0"
        styleClass="p-datatable-gridlines"
        selectionMode="multiple"
				[resizableColumns]="true">
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Assurance</h5>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>

              <input pInputText type="text" (input)="dt.filterGlobal(getEventValue($event), 'contains')"
                placeholder="Rechercher..." />

            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th [style]="{textAlign: 'center'}" pSortableColumn="libelle">Nom<p-sortIcon field="libelle"></p-sortIcon>
            </th>
            <th [style]="{textAlign: 'center'}" pSortableColumn="email" class="text-center">E-mail <p-sortIcon field="email"></p-sortIcon>
            </th>
            <th [style]="{textAlign: 'center'}" pSortableColumn="tel" class="text-center">Contact <p-sortIcon field="tel"></p-sortIcon>
            </th>
            <th [style]="{textAlign: 'center'}" pSortableColumn="ville" class="text-center">Ville<p-sortIcon field="ville"></p-sortIcon>
            </th>
            <th [style]="{textAlign: 'center'}">Actions</th>
          </tr>
          <tr>
            <th>
              <p-columnFilter [showClearButton]="false" type="text" field="libelle" matchMode="contains" pTooltip="Options de filtrage">
                <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                  <input type="text" #valeur class="p-2 border" maxlength="20"
                         [value]="value"
                         pInputText
                         (input)="filter(valeur.value)"
                  >
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter [showClearButton]="false" type="text" field="email" matchMode="contains" pTooltip="Options de filtrage">
                <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                  <input type="text" #valeur class="p-2 border" maxlength="20"
                         [value]="value"
                         pInputText
                         (input)="filter(valeur.value)"
                  >
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter [showClearButton]="false" type="text" field="tel" matchMode="contains" pTooltip="Options de filtrage">
                <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                  <input type="text" #valeur class="p-2 border" maxlength="20"
                         [value]="value"
                         pInputText
                         (input)="filter(valeur.value)"
                  >
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter [showClearButton]="false" type="text" field="ville" matchMode="contains" pTooltip="Options de filtrage">
                <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                  <input type="text" #valeur class="p-2 border" maxlength="20"
                         [value]="value"
                         pInputText
                         (input)="filter(valeur.value)"
                  >
                </ng-template>
              </p-columnFilter>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-assurance>
          <tr>
            <td [style]="{textAlign: 'center'}">{{assurance.libelle}}</td>
            <td>{{assurance.email}}</td>
            <td class="text-right">{{assurance.tel}}</td>
            <td>{{assurance.ville}}</td>
            <td >
              <button pButton pRipple type="button" pTooltip="Modifier" icon="pi pi-pencil" (click)="assuranceDetail(assurance)" *ngIf="urlActif()"
              class="p-button-rounded p-button-text"></button>
              <button pButton pRipple type="button" pTooltip="Detail de l'assurance" icon="pi pi-angle-right" (click)="assuranceDetail(assurance)"
              class="p-button-rounded p-button-text text-center"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            Total: {{assurances ? assurances.length : 0 }} assurances
          </div>
        </ng-template>
      </p-table>
    </div>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    <p-dialog [(visible)]="assuranceDialog" [style]="{width: '460px'}" header="Création d'une assurance" [modal]="true"
      styleClass="p-fluid">

      <form [formGroup]="assuranceForms" (ngSubmit)="enregistrerAssurance()">
        <div class="grid">

          <div class="col-12 md:col-6 lg:col-6">
            <span>
            <h4>Nom assurance</h4>
              <input type="text" pInputText formControlName="libelle"
              [ngClass]="{'ng-invalid ng-dirty':submitted && assuranceForms.controls['libelle'].errors}">
            </span>
            <small id="libelle-help" class="p-error" *ngIf="submitted && assuranceForms.controls['libelle'].errors">Nom de l'assurance obligatoire</small>
          </div>

          <div class="col-12 md:col-6 lg:col-6">
            <span>
            <h4>E-mail assurance</h4>
              <input type="email" pInputText formControlName="email"
              [ngClass]="{'ng-invalid ng-dirty':submitted && assuranceForms.controls['email'].errors}">
            </span>
            <small id="email-help" class="p-error" *ngIf="submitted && assuranceForms.controls['email'].errors">E-mail de l'assurance obligatoire</small>
          </div>

          <div class="col-12">
            <span>
            <h4>Contact assurance</h4>
              <input type="text" pInputText formControlName="tel"
              [ngClass]="{'ng-invalid ng-dirty':submitted && assuranceForms.controls['tel'].errors}">
            </span>
            <small id="contact-help" class="p-error" *ngIf="submitted && assuranceForms.controls['tel'].errors">Contact de l'assurance obligatoire</small>
          </div>
          <div class="col-12">
            <span>
            <h4>Ville</h4>
              <input type="text" pInputText formControlName="ville"
              [ngClass]="{'ng-invalid ng-dirty':submitted && assuranceForms.controls['ville'].errors}">
            </span>
            <small id="ville-help" class="p-error" *ngIf="submitted && assuranceForms.controls['ville'].errors">Ville de l'assurance obligatoire</small>
          </div>
            <div class="col-12 md:col-12">
              <div class="flex justify-content-end">
                  <p-button label="Enregistrer" icon="pi pi-check" type="submit">
                  </p-button>
                  <p-button label="Annuler" (click)="newAssurance()" icon="pi pi-times" styleClass="p-button-sm p-button-danger ml-2">
                  </p-button>
              </div>
            </div>
        </div>
      </form>
    </p-dialog>
    <p-toast key="myKey1"></p-toast>
  </div>
</section>
