<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Calendrier'" [items]="[]" [active_item]="'Rendez-Vous'"></app-breadcrumb>
      </div>
      <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
        <h2>Calendrier Annuels</h2>
        <div class="grid">
            <div class="col-12 md:col-12 lg:col-12">
                <full-calendar [options]="options"></full-calendar>
            </div>
        </div>
  </div>
    </div>
  </section>

  