<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Assurance'" [items]="[]" [active_item]="'NSIA'"></app-breadcrumb>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="card card-statistic-2">
            <div class="clearfix">
              <div class="card-icon-only shadow-primary float-start">
                <img src="assets/images/pages/blood-pressure.png" alt="">
              </div>
              <div class="card-right">
                <div>
                  <h4 class="float-end">Nombre de Patients</h4>
                </div>
                <div class="col-green">
                  <h3 class="font-weight-bold float-end mb-0"> 11070</h3>
                </div>
              </div>
            </div>
            <div class="card-content msl-4 mb-3">
              <p class="m-b-0 d-flex"><i class="material-icons col-green pr-2">trending_up</i>Coût Total: 37 000 000 FCFA
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="card card-statistic-2">
            <div class="clearfix">
              <div class="card-icon-only shadow-primary float-start">
                <img src="assets/images/pages/heart-rate.png" alt="">
              </div>
              <div class="card-right">
                <div>
                  <h4 class="float-end">Nombre de consultations </h4>
                </div>
                <div class="col-green">
                  <h3 class="font-weight-bold float-end mb-0">650</h3>
                </div>
              </div>
            </div>
            <div class="card-content msl-4 mb-3">
              <p class="m-b-0 d-flex"><i class="material-icons col-orange pr-2">trending_down</i>Coût : 20 000 000 FCFA
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="card card-statistic-2">
            <div class="clearfix">
              <div class="card-icon-only shadow-primary float-start">
                <img src="assets/images/pages/glucose.png" alt="">
              </div>
              <div class="card-right">
                <div>
                  <h4 class="float-end">Nombre de Chats</h4>
                </div>
                <div class="col-green">
                  <h3 class="font-weight-bold float-end mb-0">8875</h3>
                </div>
              </div>
            </div>
            <div class="card-content msl-4 mb-3">
              <p class="m-b-0 d-flex"><i class="material-icons col-green pr-2">trending_up</i>Coût : 10 000 000 FCFA
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="card card-statistic-2">
            <div class="clearfix">
              <div class="card-icon-only shadow-primary float-start">
                <img src="assets/images/pages/blood-count.png" alt="">
              </div>
              <div class="card-right">
                <div>
                  <h4 class="float-end">Nombre d'appel Téléphonique</h4>
                </div>
                <div class="col-green">
                  <h3 class="font-weight-bold float-end mb-0">945</h3>
                </div>
              </div>
            </div>
            <div class="card-content msl-4 mb-3">
              <p class="m-b-0 d-flex"><i class="material-icons col-orange pr-2">trending_down</i>Coût : 7 000 000 FCFA
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <div class="card">
            <div class="body">
              <mat-tab-group dynamicHeight>
                <mat-tab label="Consultations">
                  <ul class="list-unstyled list-unstyled-border list-unstyled-noborder">
                    <li class="app-list">
                      <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig1.jpg">
                      <div class="set-flex">
                        <div class="media-title font-16">Dr.Cara Stevens</div>
                        <div class="text-job text-muted mb-0">Radiologist</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title font-16">12 June '20</div>
                        <div class="text-job text-muted mb-0">09:00-10:00</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Treatement</div>
                        <div class="text-job font-16">CT scans</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Contact Number</div>
                        <div class="text-job font-16">+123 676545655</div>
                      </div>
                    </li>
                    <li class="app-list">
                      <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig2.jpg">
                      <div class="set-flex">
                        <div class="media-title font-16">Dr.John Doe</div>
                        <div class="text-job text-muted mb-0">Cardiologist</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title font-16">13 June '20</div>
                        <div class="text-job text-muted mb-0">11:00-11:30</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Treatement</div>
                        <div class="text-job font-16">heart checkup</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Contact Number</div>
                        <div class="text-job font-16">+123 434656764</div>
                      </div>
                    </li>
                    <li class="app-list">
                      <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig3.jpg">
                      <div class="set-flex">
                        <div class="media-title font-16">Dr.Airi Satou</div>
                        <div class="text-job text-muted mb-0">Otolaryngologist</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title font-16">12 June '20</div>
                        <div class="text-job text-muted mb-0">09:15-10:15 </div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Treatement</div>
                        <div class="text-job font-16">Diseases Of The Ear</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Contact Number</div>
                        <div class="text-job font-16">+123 45345673</div>
                      </div>
                    </li>
                    <li class="app-list">
                      <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig4.jpg">
                      <div class="set-flex">
                        <div class="media-title font-16">Dr.Angelica Ramos</div>
                        <div class="text-job text-muted mb-0">Dentist</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title font-16">12 June '20</div>
                        <div class="text-job text-muted mb-0">11:00-12:00</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Treatement</div>
                        <div class="text-job font-16">Root Canal</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Contact Number</div>
                        <div class="text-job font-16">+123 87654533</div>
                      </div>
                    </li>
                    <li class="app-list">
                      <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig6.jpg">
                      <div class="set-flex">
                        <div class="media-title font-16">Dr.Jens Brincker</div>
                        <div class="text-job text-muted mb-0">Endocrinologist</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title font-16">23 June '20</div>
                        <div class="text-job text-muted mb-0">04:00-05:00</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Treatement</div>
                        <div class="text-job font-16">Diabetes</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Contact Number</div>
                        <div class="text-job font-16">+123 45678345</div>
                      </div>
                    </li>
                    <li class="app-list">
                      <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig7.jpg">
                      <div class="set-flex">
                        <div class="media-title font-16">Dr.Airi Satou</div>
                        <div class="text-job text-muted mb-0">Otolaryngologist</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title font-16">12 June '20</div>
                        <div class="text-job text-muted mb-0">09:15-10:15 </div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Treatement</div>
                        <div class="text-job font-16">Diseases Of The Ear</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Contact Number</div>
                        <div class="text-job font-16">+123 45345673</div>
                      </div>
                    </li>
                  </ul>
                </mat-tab>
                <mat-tab label="Appel Téléphonique">
                  <ul class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder">
                    <li class="app-list">
                      <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig7.jpg">
                      <div class="set-flex">
                        <div class="media-title font-16">Dr.Jens Brincker</div>
                        <div class="text-job text-muted mb-0">Endocrinologist</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title font-16">23 June '20</div>
                        <div class="text-job text-muted mb-0">04:00-05:00</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Treatement</div>
                        <div class="text-job font-16">Diabetes</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Contact Number</div>
                        <div class="text-job font-16">+123 45678345</div>
                      </div>
                    </li>
                    <li class="app-list">
                      <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig6.jpg">
                      <div class="set-flex">
                        <div class="media-title font-16">Dr.John Doe</div>
                        <div class="text-job text-muted mb-0">Cardiologist</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title font-16">13 June '20</div>
                        <div class="text-job text-muted mb-0">11:00-11:30</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Treatement</div>
                        <div class="text-job font-16">heart checkup</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Contact Number</div>
                        <div class="text-job font-16">+123 434656764</div>
                      </div>
                    </li>
                    <li class="app-list">
                      <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig8.jpg">
                      <div class="set-flex">
                        <div class="media-title font-16">Dr.Cara Stevens</div>
                        <div class="text-job text-muted mb-0">Radiologist</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title font-16">12 June '20</div>
                        <div class="text-job text-muted mb-0">09:00-10:00</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Treatement</div>
                        <div class="text-job font-16">CT scans</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Contact Number</div>
                        <div class="text-job font-16">+123 676545655</div>
                      </div>
                    </li>
                    <li class="app-list">
                      <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig9.jpg">
                      <div class="set-flex">
                        <div class="media-title font-16">Dr.Airi Satou</div>
                        <div class="text-job text-muted mb-0">Otolaryngologist</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title font-16">12 June '20</div>
                        <div class="text-job text-muted mb-0">09:15-10:15 </div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Treatement</div>
                        <div class="text-job font-16">Diseases Of The Ear</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Contact Number</div>
                        <div class="text-job font-16">+123 45345673</div>
                      </div>
                    </li>
                    <li class="app-list">
                      <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig5.jpg">
                      <div class="set-flex">
                        <div class="media-title font-16">Dr.Angelica Ramos</div>
                        <div class="text-job text-muted mb-0">Dentist</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title font-16">12 June '20</div>
                        <div class="text-job text-muted mb-0">11:00-12:00</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Treatement</div>
                        <div class="text-job font-16">Root Canal</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Contact Number</div>
                        <div class="text-job font-16">+123 87654533</div>
                      </div>
                    </li>
                    <li class="app-list">
                      <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig10.jpg">
                      <div class="set-flex">
                        <div class="media-title font-16">Dr.John Doe</div>
                        <div class="text-job text-muted mb-0">Cardiologist</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title font-16">13 June '20</div>
                        <div class="text-job text-muted mb-0">11:00-11:30</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Treatement</div>
                        <div class="text-job font-16">heart checkup</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Contact Number</div>
                        <div class="text-job font-16">+123 434656764</div>
                      </div>
                    </li>
                  </ul>
                </mat-tab>
                <mat-tab label="Appel Vidéo">
                  <ul class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder">
                    <li class="app-list">
                      <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig7.jpg">
                      <div class="set-flex">
                        <div class="media-title font-16">Dr.Jens Brincker</div>
                        <div class="text-job text-muted mb-0">Endocrinologist</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title font-16">23 June '20</div>
                        <div class="text-job text-muted mb-0">04:00-05:00</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Treatement</div>
                        <div class="text-job font-16">Diabetes</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Contact Number</div>
                        <div class="text-job font-16">+123 45678345</div>
                      </div>
                    </li>
                    <li class="app-list">
                      <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig6.jpg">
                      <div class="set-flex">
                        <div class="media-title font-16">Dr.John Doe</div>
                        <div class="text-job text-muted mb-0">Cardiologist</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title font-16">13 June '20</div>
                        <div class="text-job text-muted mb-0">11:00-11:30</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Treatement</div>
                        <div class="text-job font-16">heart checkup</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Contact Number</div>
                        <div class="text-job font-16">+123 434656764</div>
                      </div>
                    </li>
                    <li class="app-list">
                      <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig8.jpg">
                      <div class="set-flex">
                        <div class="media-title font-16">Dr.Cara Stevens</div>
                        <div class="text-job text-muted mb-0">Radiologist</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title font-16">12 June '20</div>
                        <div class="text-job text-muted mb-0">09:00-10:00</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Treatement</div>
                        <div class="text-job font-16">CT scans</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Contact Number</div>
                        <div class="text-job font-16">+123 676545655</div>
                      </div>
                      <div class="media-cta">
                      </div>
                    </li>
                    <li class="app-list">
                      <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig9.jpg">
                      <div class="set-flex">
                        <div class="media-title font-16">Dr.Airi Satou</div>
                        <div class="text-job text-muted mb-0">Otolaryngologist</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title font-16">12 June '20</div>
                        <div class="text-job text-muted mb-0">09:15-10:15 </div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Treatement</div>
                        <div class="text-job font-16">Diseases Of The Ear</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Contact Number</div>
                        <div class="text-job font-16">+123 45345673</div>
                      </div>
                    </li>
                    <li class="app-list">
                      <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig5.jpg">
                      <div class="set-flex">
                        <div class="media-title font-16">Dr.Angelica Ramos</div>
                        <div class="text-job text-muted mb-0">Dentist</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title font-16">12 June '20</div>
                        <div class="text-job text-muted mb-0">11:00-12:00</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Treatement</div>
                        <div class="text-job font-16">Root Canal</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Contact Number</div>
                        <div class="text-job font-16">+123 87654533</div>
                      </div>
                    </li>
                    <li class="app-list">
                      <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig10.jpg">
                      <div class="set-flex">
                        <div class="media-title font-16">Dr.John Doe</div>
                        <div class="text-job text-muted mb-0">Cardiologist</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title font-16">13 June '20</div>
                        <div class="text-job text-muted mb-0">11:00-11:30</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Treatement</div>
                        <div class="text-job font-16">heart checkup</div>
                      </div>
                      <div class="set-flex">
                        <div class="media-title text-muted mb-0">Contact Number</div>
                        <div class="text-job font-16">+123 434656764</div>
                      </div>
                    </li>
                  </ul>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="card">
            <div class="header">
              <h2>Reports/Documents</h2>
            </div>
            <div class="body">
              <ul class="list-unstyled list-unstyled-border list-unstyled-noborder">
                <li class="report-list">
                  <div class="d-flex">
                    <i class="far fa-file-pdf file-style col-red font-20"></i>
                    <div class="media-title font-16">Blood Report</div>
                  </div>
                  <div class="ms-auto">
                    <td>
                      <i class="far fa-trash-alt"></i>
                      <i class="far fa-arrow-alt-circle-down"></i>
                    </td>
                  </div>
                </li>
                <li class="report-list">
                  <div class="d-flex">
                    <i class="far fa-file-word col-blue font-20 file-style"></i>
                    <div class="media-title font-16">Mediclaim Documents</div>
                  </div>
                  <div class="ms-auto">
                    <td>
                      <i class="far fa-trash-alt"></i>
                      <i class="far fa-arrow-alt-circle-down"></i>
                    </td>
                  </div>
                </li>
                <li class="report-list">
                  <div class="d-flex">
                    <i class="far fa-file-alt col-black font-20 file-style"></i>
                    <div class="media-title font-16">Doctor Prescription</div>
                  </div>
                  <div class="ms-auto">
                    <td>
                      <i class="far fa-trash-alt"></i>
                      <i class="far fa-arrow-alt-circle-down"></i>
                    </td>
                  </div>
                </li>
                <li class="report-list">
                  <div class="d-flex">
                    <i class="far fa-file-archive col-purple font-20 file-style"></i>
                    <div class="media-title font-16">X-Ray Files</div>
                  </div>
                  <div class="ms-auto">
                    <td>
                      <i class="far fa-trash-alt"></i>
                      <i class="far fa-arrow-alt-circle-down"></i>
                    </td>
                  </div>
                </li>
                <li class="report-list">
                  <div class="d-flex">
                    <i class="far fa-file-pdf col-red font-20 file-style"></i>
                    <div class="media-title font-16">Urine Report</div>
                  </div>
                  <div class="ms-auto">
                    <td>
                      <i class="far fa-trash-alt"></i>
                      <i class="far fa-arrow-alt-circle-down"></i>
                    </td>
                  </div>
                </li>
                <li class="report-list">
                  <div class="d-flex">
                    <i class="far fa-file-image col-teal font-20 file-style"></i>
                    <div class="media-title font-16">Scanned Documents</div>
                  </div>
                  <div class="ms-auto">
                    <td>
                      <i class="far fa-trash-alt"></i>
                      <i class="far fa-arrow-alt-circle-down"></i>
                    </td>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  