<section class="content">
	<div class="content-block">
		<div class="block-header">
			<!-- breadcrumb -->
			<app-breadcrumb [title]="'Comptable'" [items]="[]" [active_item]="'comptable'"></app-breadcrumb>
		</div>

		<div class="card">
			<p-toolbar styleClass="mb-4">
				<ng-template pTemplate="left">
					<button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
						class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
					<button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
						class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
				</ng-template>

				<ng-template pTemplate="right">
					<button pButton pRipple label="Créer un nouveau comptable" icon="pi pi-plus" class="p-button-help" *ngIf="urlActif()"
						(click)="newComptable()"></button>
				</ng-template>
			</p-toolbar>

			<p-table #dt [value]="comptables" [scrollable]="true" scrollHeight="300px"
				[globalFilterFields]="['nom','prenoms']" [loading]="loading" [filterDelay]="0"
				styleClass="p-datatable-gridlines" selectionMode="multiple" [resizableColumns]="true">
				<ng-template pTemplate="caption">
					<div class="flex align-items-center justify-content-between">
						<h5 class="m-0">Comptable</h5>
						<span class="p-input-icon-left">
							<i class="pi pi-search"></i>

							<input pInputText type="text" (input)="dt.filterGlobal(getEventValue($event), 'contains')"
								placeholder="Rechercher..." />
						</span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th pSortableColumn="user.nom" [style]="{fontSize:'14px',color:'#2E5C2F',background:'rgb(46 92 47 / 10%)'}">Nom
							<p-sortIcon field="user.nom"></p-sortIcon>
						</th>
						<th pSortableColumn="user.prenoms" [style]="{fontSize:'14px',color:'#2E5C2F',background:'rgb(46 92 47 / 10%)'}">Prénom
							<p-sortIcon field="user.prenoms"></p-sortIcon>
						</th>
						<th pSortableColumn="user.genre" [style]="{fontSize:'14px',color:'#ff0000c4',background:'rgb(239 7 67 / 10%)'}">Genre
							<p-sortIcon field="user.genre"></p-sortIcon>
						</th>
						<th pSortableColumn="user.email" [style]="{fontSize:'14px',color:'#2196F3',background:'rgb(33 150 243 / 10%)'}">E-mail
							<p-sortIcon field="user.email"></p-sortIcon>
						</th>
						<th pSortableColumn="user.tel" [style]="{fontSize:'14px',color:'#2196F3',background:'rgb(33 150 243 / 10%)'}">Téléphone 1
							<p-sortIcon field="tel"></p-sortIcon>
						</th>
						<th pSortableColumn="user.tel2" [style]="{fontSize:'14px',color:'#2196F3',background:'rgb(33 150 243 / 10%)'}">Téléphone 2
							<p-sortIcon field="user.tel2"></p-sortIcon>
						</th>
						<th>Actions</th>
					</tr>
					<tr>
						<th>
							<p-columnFilter [showClearButton]="false" type="text" field="user.nom" matchMode="contains" pTooltip="Options de filtrage">
								<ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
									<input type="text" #valeur class="p-2 border" maxlength="20"
										   [value]="value"
										   pInputText
										   (input)="filter(valeur.value)"
									>
								</ng-template>
							</p-columnFilter>
						</th>
						<th>
							<p-columnFilter [showClearButton]="false" type="text" field="user.prenoms" matchMode="contains" pTooltip="Options de filtrage">
								<ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
									<input type="text" #valeur class="p-2 border" maxlength="20"
										   [value]="value"
										   pInputText
										   (input)="filter(valeur.value)"
									>
								</ng-template>
							</p-columnFilter>
						</th>
						<th>
							<p-columnFilter [showClearButton]="false" type="text" field="user.genre" matchMode="contains" pTooltip="Options de filtrage">
								<ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
									<input type="text" #valeur class="p-2 border" maxlength="20"
										   [value]="value"
										   pInputText
										   (input)="filter(valeur.value)"
									>
								</ng-template>
							</p-columnFilter>
						</th>
						<th>
							<p-columnFilter [showClearButton]="false" type="text" field="user.email" matchMode="contains" pTooltip="Options de filtrage">
								<ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
									<input type="text" #valeur class="p-2 border" maxlength="20"
										   [value]="value"
										   pInputText
										   (input)="filter(valeur.value)"
									>
								</ng-template>
							</p-columnFilter>
						</th>
						<th>
							<p-columnFilter [showClearButton]="false" type="text" field="user.tel" matchMode="contains" pTooltip="Options de filtrage">
								<ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
									<input type="text" #valeur class="p-2 border" maxlength="20"
										   [value]="value"
										   pInputText
										   (input)="filter(valeur.value)"
									>
								</ng-template>
							</p-columnFilter>
						</th>
						<th>
							<p-columnFilter [showClearButton]="false" type="text" field="user.tel2" matchMode="contains" pTooltip="Options de filtrage">
								<ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
									<input type="text" #valeur class="p-2 border" maxlength="20"
										   [value]="value"
										   pInputText
										   (input)="filter(valeur.value)"
									>
								</ng-template>
							</p-columnFilter>
						</th>
						<th></th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-comptable>
					<tr>
						<td [style]="{color:'#2E5C2F'}">{{comptable.user.nom}}</td>
						<td [style]="{color:'#2E5C2F'}">{{comptable.user.prenoms}}</td>
						<td [style]="{color:'red'}">{{comptable.user.genre.libelle}}</td>
						<td [style]="{color:'#2196F3'}">{{comptable.user.email}}</td>
						<td [style]="{color:'#2196F3'}">{{comptable.user.tel}}</td>
						<td [style]="{color:'#2196F3'}">{{comptable.user.tel2}}</td>
						<td>
							<button pButton pRipple type="button" pTooltip="Modifier" icon="pi pi-pencil"
									(click)="updateComptable(comptable)" class="p-button-rounded p-button-text"></button>
							<button pButton pRipple type="button" pTooltip="Detail du comptable"
									icon="pi pi-angle-right" (click)="comptableDetail(comptable)"
									class="p-button-rounded p-button-text p-button-success"></button>

							<button pButton pRipple type="button" pTooltip="Supprimer le comptable"  icon="pi pi-trash" (click)="supprimerComptable(comptable)"
									class="p-button-rounded p-button-text p-button-danger"></button>
						</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="summary">
					<div class="flex align-items-center justify-content-between">
						Total: {{comptables ? comptables.length : 0 }} Comptables
					</div>
				</ng-template>
			</p-table>
		</div>

		<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

		<p-toast></p-toast>
		<p-dialog [(visible)]="comptableDialog" [style]="{width: '650px'}" header="Créer un comptable"
				  [modal]="true" styleClass="p-fluid">
			<form [formGroup]="comptableForms" (ngSubmit)="enregistrerComptable()">
				<div class="grid">
					<div class="col-12 md:col-6 lg:col-4">
						<span>
							<label>Nom</label>
							<input type="text" pInputText formControlName="nom">
						</span>
					</div>

					<div class="col-12 md:col-6 lg:col-4">
						<span>
							<label>Prénom</label>
							<input type="text" pInputText formControlName="prenoms">
						</span>
					</div>

					<div class="col-12 md:col-6 lg:col-4">
						<span>
							<label>Nom d'utilisateur</label>
							<input type="text" pInputText formControlName="login">
						</span>
					</div>
					<div class="col-12 md:col-6 lg:col-4">
						<span>
							<label>Mot de passe</label>
							<input type="password" pInputText formControlName="password">
						</span>
					</div>
					<div class="col-12 md:col-6 lg:col-4">
						<span>
							<label>Date de naissance</label>
						<p-calendar [baseZIndex]="3000" appendTo="body" [showIcon]="true" inputId="icon" formControlName="dateNaissance"></p-calendar>
						</span>
					</div>
					<div class="col-12 md:col-6 lg:col-4">
						<label>Genre</label>
						<p-dropdown [options]="genres" optionLabel="libelle" [showClear]="true" formControlName="genre">
						</p-dropdown>
					</div>
					<div class="col-12">
					  <span>
						<label>Type d'employé</label>
						<p-autoComplete  formControlName="typeEmploye" [virtualScroll]="true" [suggestions]="employeForm"  (completeMethod)="employeItems($event)" field="libelle" [dropdown]="true">
					   </p-autoComplete>
					  </span>
					</div>
					<div class="col-12">
						<p-divider align="center" type="dashed" layout="horizontal">
							<div class="inline-flex align-items-center">
								<i class="pi pi-user mr-2"></i>
								<b>Contacts</b>
							</div>
						</p-divider>
					</div>

					<div class="col-12">
						<span>
							<label>E-mail</label>
							<input type="email" pInputText formControlName="email">
						</span>
					</div>

					<div class="col-12">
						<span>
							<label>Téléphone 1</label>
							<input type="text" id="inputtext5" pInputText formControlName="tel">
						</span>
					</div>

					<div class="col-12">
						<span>
							<label>Téléphone 2</label>
							<input type="text" pInputText formControlName="tel2">
						</span>
					</div>
					<div class="col-12 md:col-12">
						<div class="flex justify-content-end">
							<button type="submit" pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-bouton-texte p-bouton-sm
                             w-10rem h-2rem m-2"></button>
							<button type="button" pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-danger p-bouton-sm
                             w-10rem h-2rem m-2
                              " (click)="newComptable()"></button>
						</div>
					</div>
				</div>
			</form>
		</p-dialog>
		<p-dialog [(visible)]="comptableDialogUpdate" [style]="{width: '650px'}" header="mise à jour d'un comptable"
				  [modal]="true" styleClass="p-fluid">
			<form [formGroup]="comptableFormsUpdate" (ngSubmit)="modifierComptable()">
				<div class="grid">
					<div class="col-12 md:col-6 lg:col-4">
						<span>
							<label>Nom</label>
							<input type="text" pInputText formControlName="nomUpdate">
						</span>
					</div>

					<div class="col-12 md:col-6 lg:col-4">
						<span>
							<label>Prénom</label>
							<input type="text" pInputText formControlName="prenomsUpdate">
						</span>
					</div>

					<div class="col-12 md:col-6 lg:col-4">
						<span>
							<label>Nom d'utilisateur</label>
							<input type="text" pInputText formControlName="loginUpdate">
						</span>
					</div>
					<div class="col-12 md:col-6 lg:col-4">
						<span>
							<label>Mot de passe</label>
							<input type="password" pInputText formControlName="passwordUpdate">
						</span>
					</div>
					<div class="col-12 md:col-6 lg:col-4">
						<span>
							<label>Date de naissance</label>
						<p-calendar [baseZIndex]="3000" appendTo="body" [showIcon]="true" inputId="icon" formControlName="dateNaissanceUpdate"></p-calendar>
						</span>
					</div>
					<div class="col-12 md:col-6 lg:col-4">
						<label>Genre</label>
						<p-dropdown [options]="genres" optionLabel="libelle" [showClear]="true" formControlName="genreUpdate">
						</p-dropdown>
					</div>
					<div class="col-12">
					  <span>
						<label>Type d'employé</label>
						  					<p-dropdown
													[autoDisplayFirst]="false"
													[options]="employes"
													dataKey="typeEmployeUpdate"
													formControlName="typeEmployeUpdate"
													optionLabel="libelle">
					</p-dropdown>
					  </span>
					</div>
					<div class="col-12">
						<p-divider align="center" type="dashed" layout="horizontal">
							<div class="inline-flex align-items-center">
								<i class="pi pi-user mr-2"></i>
								<b>Contacts</b>
							</div>
						</p-divider>
					</div>

					<div class="col-12">
						<span>
							<label>E-mail</label>
							<input type="email" pInputText formControlName="emailUpdate">
						</span>
					</div>

					<div class="col-12">
						<span>
							<label>Téléphone 1</label>
							<input type="text" id="inputtext5" pInputText formControlName="telUpdate">
						</span>
					</div>

					<div class="col-12">
						<span>
							<label>Téléphone 2</label>
							<input type="text" pInputText formControlName="tel2Update">
						</span>
					</div>
					<div class="col-12 md:col-12">
						<div class="flex justify-content-end">
							<button type="submit" pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-bouton-texte p-bouton-sm
                             w-10rem h-2rem m-2"></button>
							<button type="button" pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-danger p-bouton-sm
                             w-10rem h-2rem m-2
                              " (click)="helpComptable()"></button>
						</div>
					</div>
				</div>
			</form>
		</p-dialog>
	</div>
</section>
