<h2 mat-dialog-title>nouvelle assurance</h2>
<mat-dialog-content class="mat-typography e">
    <div class="container">
        <form [formGroup]="assuranceForm">
            <div class="row mt-5">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="mb-3">
                        <input type="text" class="form-control"
                            formControlName="libelle" placeholder="Nom Assurance">
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="mb-3">
                        <input type="email" class="form-control" aria-describedby="emailHelp"
                            formControlName="email" placeholder="E-mail assurance"
                            >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="mb-3">
                        <input type="text" class="form-control" formControlName="tel"
                            placeholder="Contact de l'assurance"
                           >
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="mb-3">
                        <input type="text" class="form-control" formControlName="ville"
                            
                            placeholder="Ville">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-lg-2 col-sm-12">
                    <button mat-raised-button color="primary" (click)="sendData()"
                        [disabled]="!assuranceForm.valid">Enregistrer
                        <mat-icon>done</mat-icon>
                    </button>
                </div>
            </div>
        </form>
    </div>
</mat-dialog-content>




<!--
    assuranceForm.controls['libelle'].touched && !assuranceForm.controls['libelle'].valid}
-->