<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Assurance'" [items]="[]" [active_item]="'assurance'"></app-breadcrumb>
    </div>

    <div class="card">
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
            class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
          <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
            class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
        </ng-template>

        <ng-template pTemplate="right">

          <button pButton pRipple label="Créer une nouvel assurance" icon="pi pi-plus" class="p-button-help"
            (click)="openNew()"></button>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="assurances" 
      [scrollable]="true" 
      scrollHeight="400px"
        [globalFilterFields]="['libelle','email','ville']" 
        [loading]="loading" 
        [filterDelay]="0"
        styleClass="p-datatable-gridlines"
				[resizableColumns]="true"
        >
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Assurance</h5>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>

              <input pInputText type="text" (input)="dt.filterGlobal(getEventValue($event), 'contains')"
                placeholder="Rechercher..." />

            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="libelle">Nom<p-sortIcon field="libelle"></p-sortIcon>
            </th>
            <th pSortableColumn="email">E-mail <p-sortIcon field="email"></p-sortIcon>
            </th>
            <th pSortableColumn="tel">Contact <p-sortIcon field="tel"></p-sortIcon>
            </th>
            <th pSortableColumn="ville">Ville<p-sortIcon field="ville"></p-sortIcon>
            </th>
          </tr>

          <tr>	
            <th>
              <p-columnFilter type="text" field="libelle"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="email"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="tel"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="ville"></p-columnFilter>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-assurance let-index="rowIndex">
          <tr>
            <td>{{assurance.libelle}}</td>
            <td>{{assurance.email}}</td>
            <td>{{assurance.tel}}</td>
            <td>{{assurance.ville}}
              <button pButton pRipple type="button" pTooltip="Modifier" icon="pi pi-pencil" (click)="detail(assurance)"
                class="p-button-rounded p-button-text text-rigth"></button>
                <button pButton pRipple type="button" pTooltip="Detail de l'assurance" icon="pi pi-angle-right" (click)="detail(assurance)"
                class="p-button-rounded p-button-text text-rigth"></button>

            </td>
 
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            Total: {{assurances ? assurances.length : 0 }} assurances
          </div>
        </ng-template>
      </p-table>
    </div>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

    <p-dialog [(visible)]="personneDialog" [style]="{width: '450px'}" header="Formulaire d'enregistrement d'une assurance" [modal]="true"
      styleClass="p-fluid">

      <form [formGroup]="assuranceForm">
        <div class="grid">

          <div class="col-12 md:col-6 lg:col-6">
            <span class="p-float-label">
              <input type="text" id="inputtext1" pInputText formControlName="libelle">
              <label for="inputtext1">Nom assurance</label>
            </span>
          </div>

          <div class="col-12 md:col-6 lg:col-6">
            <span class="p-float-label">
              <input type="email" id="inputtext2" pInputText formControlName="email">
              <label for="inputtext2">E-mail assurance</label>
            </span>
          </div>

          <div class="col-12">
            <span class="p-float-label">
              <input type="text" id="inputtext3" pInputText formControlName="tel">
              <label for="inputtext3">Contact assurance</label>
            </span>
          </div>
          <div class="col-12">
            <span class="p-float-label">
              <input type="text" id="inputtext3" pInputText formControlName="ville">
              <label for="inputtext3">Ville</label>
            </span>
          </div>

          <div class="col-12">
            <p-divider align="left">
              <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>Informations</b>
              </div>
            </p-divider>
          </div>

            <div class="col-12 md:col-6 lg:col-6">
              <button type="submit" pButton pRipple
              label="Enregistrer" 
              icon="pi pi-check" class="p-button-text p-button-sm"
              (click)="sendData()" [disabled]="!assuranceForm.valid">
            </button>
            </div>
        </div>
      </form>
    </p-dialog>
    <p-toast key="myKey1"></p-toast>
  </div>
</section>