<h2 mat-dialog-title>nouveau responsable</h2>
<mat-dialog-content class="mat-typography e">
    <div class="container">

<form [formGroup]="responsableForms">
 

    <div class="row">
  

        <div class="col-md-4 col-lg-4 col-sm-12">
            <div class="mb-3">
                <input type="password" class="form-control" 
                    placeholder="Mot de passe">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-lg-2 col-sm-12">
            <button mat-raised-button color="primary" (click)="SaveData()"
                [disabled]="!responsableForms.valid">Enregistrer
                <mat-icon>done</mat-icon>
            </button>
        </div>
    </div>
    </form>
    </div>
</mat-dialog-content>
