<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Tableau de bord'" [active_item]="'Pharmacie'"></app-breadcrumb>
    </div>
    <!-- #END# Widgets -->
    <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
      <div class="grid">
          <div class="col-12 md:col-6 lg:col-3">
              <div class="surface-card shadow-2 p-3 border-round">
                  <div class="flex justify-content-between mb-3">
                      <div>
                          <span class="block text-500 font-medium mb-3">Facture</span>
                          <div class="text-900 font-medium text-xl">300</div>
                      </div>
                      <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                          <i class="pi pi-users text-blue-500 text-xl"></i>
                      </div>
                  </div>
                  <span class="text-green-500 font-medium">Montant </span>
                  <span class="text-500"> 7 000 000 FCFA</span>
              </div>
          </div>
          <div class="col-12 md:col-6 lg:col-3">
              <div class="surface-card shadow-2 p-3 border-round">
                  <div class="flex justify-content-between mb-3">
                      <div>
                          <span class="block text-500 font-medium mb-3">Médicaments</span>
                          <div class="text-900 font-medium text-xl">120</div>
                      </div>
                      <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                          <i class="pi pi-user-plus text-orange-500 text-xl"></i>
                      </div>
                  </div>
                  <span class="text-green-500 font-medium">Montant: </span>
                  <span class="text-500">7 000 000 FCFA</span>
              </div>
          </div>
          <div class="col-12 md:col-6 lg:col-3">
              <div class="surface-card shadow-2 p-3 border-round">
                  <div class="flex justify-content-between mb-3">
                      <div>
                          <span class="block text-500 font-medium mb-3">Ventes</span>
                          <div class="text-900 font-medium text-xl">170</div>
                      </div>
                      <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                          <i class="pi pi-user-minus text-cyan-500 text-xl"></i>
                      </div>
                  </div>
                  <span class="text-green-500 font-medium">Montant: </span>
                  <span class="text-500">1 000 000 FCFA</span>
              </div>
          </div>
          <div class="col-12 md:col-6 lg:col-3">
              <div class="surface-card shadow-2 p-3 border-round">
                  <div class="flex justify-content-between mb-3">
                      <div>
                          <span class="block text-500 font-medium mb-3">Achats</span>
                          <div class="text-900 font-medium text-xl">10</div>
                      </div>
                      <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
                          <i class="pi pi-sync text-purple-500 text-xl"></i>
                      </div>
                  </div>
                  <span class="text-green-500 font-medium">Montant: </span>
                  <span class="text-500">8 000 000 FCFA</span>
              </div>
          </div>
      </div>
  </div>
  
  <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
      <div class="grid">
          <div class="col-12 md:col-6 lg:col-3">
              <div class="surface-card shadow-2 p-3 border-round">
                  <div class="flex justify-content-between mb-3">
                      <div>
                          <span class="block text-500 font-medium mb-3">Ordonances</span>
                          <div class="text-900 font-medium text-xl">152</div>
                      </div>
                      <div class="flex align-items-center justify-content-center bg-green-100 border-round" style="width:2.5rem;height:2.5rem">
                          <i class="pi pi-file-edit text-blue-500 text-xl"></i>
                      </div>
                  </div>
                  <span class="text-green-500 font-medium">Facture: </span>
                  <span class="text-500"> 3 00 000 FCFA</span>
              </div>
          </div>
          <div class="col-12 md:col-6 lg:col-3">
              <div class="surface-card shadow-2 p-3 border-round">
                  <div class="flex justify-content-between mb-3">
                      <div>
                          <span class="block text-500 font-medium mb-3">Documents</span>
                          <div class="text-900 font-medium text-xl">100</div>
                      </div>
                      <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                          <i class="pi pi-book text-orange-500 text-xl"></i>
                      </div>
                  </div>
                  <span class="text-green-500 font-medium">%52+ </span>
                  <span class="text-500">since last week</span>
              </div>
          </div>
          <div class="col-12 md:col-6 lg:col-3">
              <div class="surface-card shadow-2 p-3 border-round">
                  <div class="flex justify-content-between mb-3">
                      <div>
                          <span class="block text-500 font-medium mb-3">Categories</span>
                          <div class="text-900 font-medium text-xl">50</div>
                      </div>
                      <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                          <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                      </div>
                  </div>
                  <span class="text-green-500 font-medium">520  </span>
                  <span class="text-500">newly registered</span>
              </div>
          </div>
          <div class="col-12 md:col-6 lg:col-3">
              <div class="surface-card shadow-2 p-3 border-round">
                  <div class="flex justify-content-between mb-3">
                      <div>
                          <span class="block text-500 font-medium mb-3">Commandes</span>
                          <div class="text-900 font-medium text-xl">152</div>
                      </div>
                      <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
                          <i class="pi pi-comment text-purple-500 text-xl"></i>
                      </div>
                  </div>
                  <span class="text-green-500 font-medium">Montant </span>
                  <span class="text-500">2 000 000 FCFA</span>
              </div>
          </div>
      </div>
  </div>


    <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
      <div class="grid">
          <div class="col-12 md:col-6 lg:col-4">
              <div class="surface-card shadow-2 p-3 border-round">

                <div class="float-start">
                  <h6 class="text-muted">Resting Heart Rate</h6>
                  <h5>72 bmp <span class="text-muted font-12">(Average)</span></h5>
                </div>
                <div class="mb-5">
                  <apx-chart [series]="restRateChartOptions.series" [chart]="restRateChartOptions.chart"
                    [xaxis]="restRateChartOptions.xaxis" [stroke]="restRateChartOptions.stroke"
                    [colors]="restRateChartOptions.colors" [dataLabels]="restRateChartOptions.dataLabels"
                    [legend]="restRateChartOptions.legend" [markers]="restRateChartOptions.markers"
                    [grid]="restRateChartOptions.grid" [yaxis]="restRateChartOptions.yaxis"
                    [tooltip]="restRateChartOptions.tooltip" [title]="restRateChartOptions.title"></apx-chart>
                </div>

              </div>
          </div>
          <div class="col-12 md:col-6 lg:col-4">
              <div class="surface-card shadow-2 p-3 border-round">
                <div class="float-start">
                  <h6 class="text-muted">Performance Heart Rate</h6>
                  <h5>129 bmp <span class="text-muted font-12">(Average)</span></h5>
                </div>
                <div class="mb-5">
                  <apx-chart [series]="performanceRateChartOptions.series" [chart]="performanceRateChartOptions.chart"
                    [xaxis]="performanceRateChartOptions.xaxis" [stroke]="performanceRateChartOptions.stroke"
                    [colors]="performanceRateChartOptions.colors" [dataLabels]="performanceRateChartOptions.dataLabels"
                    [legend]="performanceRateChartOptions.legend" [markers]="performanceRateChartOptions.markers"
                    [grid]="performanceRateChartOptions.grid" [yaxis]="performanceRateChartOptions.yaxis"
                    [tooltip]="performanceRateChartOptions.tooltip" [title]="performanceRateChartOptions.title"></apx-chart>
                </div>
              </div>
          </div>
          <div class="col-12 md:col-6 lg:col-4">
              <div class="surface-card shadow-2 p-3 border-round">
                <div class="header">
                  <h2>Medications</h2>
                </div>
                <div class="body">
                  <div class="table-responsive">
                    <table class="table table-borderless medicine-list">
                      <tr>
                        <td><i class="fas fa-tablets pill-style"></i> Econochlor (chloramphenicol-oral)</td>
                        <td class="text-end w-25">
                          <span class="badge-outline">1 - 0 - 1</span>
                        </td>
                      </tr>
                      <tr>
                        <td><i class="fas fa-capsules pill-style"></i> Desmopressin tabs</td>
                        <td class="text-end w-25">
                          <span class="badge-outline">1 - 1 - 1</span>
                        </td>
                      </tr>
                      <tr>
                        <td><i class="fas fa-syringe pill-style"></i> Abciximab-injection</td>
                        <td class="text-end w-25">
                          <span class="badge-outline">1 Daily</span>
                        </td>
                      </tr>
                      <tr>
                        <td><i class="fas fa-pills pill-style"></i> Kevzara sarilumab</td>
                        <td class="text-end w-25">
                          <span class="badge-outline">0 - 0 - 1</span>
                        </td>
                      </tr>
                      <tr>
                        <td><i class="fas fa-capsules pill-style"></i> Gentamicin-topical</td>
                        <td class="text-end w-25">
                          <span class="badge-outline">1 - 0 - 1</span>
                        </td>
                      </tr>
                      <tr>
                        <td><i class="fas fa-tablets pill-style"></i> Paliperidone palmitate</td>
                        <td class="text-end w-25">
                          <span class="badge-outline">1 - 1 - 1</span>
                        </td>
                      </tr>
                      <tr>
                        <td><i class="fas fa-syringe pill-style"></i> Sermorelin-injectable</td>
                        <td class="text-end w-25">
                          <span class="badge-outline">1 Daily</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="text-center p-t-20">
                    <button mat-stroked-button color="primary">Report Adverse Effect</button>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
  </div>
  </section>
  