
<section class="content">
    <div class="content-block">
<h2 style="color: green">GeeksforGeeks</h2>
<h4>Angular PrimeNG Table Page</h4>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success mr-2" (click)="show()"></button>
            &nbsp; <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
            
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
            &nbsp; <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="tableData" [rows]="8" [paginator]="true"
    styleClass="p-datatable-gridlines"
    selectionMode="single"
    [resizableColumns]="true"
    [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
        [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between ng-star-inserted">
             
                    <h3 class="m-0">Manage Products</h3>
                 
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pResizableColumn pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>
                <th pResizableColumn pSortableColumn="libelle">libelle <p-sortIcon field="libelle"></p-sortIcon></th>
            
                <th pResizableColumn>Actions</th>
            </tr>
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>
                    <p-columnFilter type="text" field="id"></p-columnFilter>
                </th>
               
                <th>
                    <p-columnFilter type="text" field="libelle"></p-columnFilter>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr [pSelectableRow]="product">
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td>{{product.id}}</td>
                <td>{{product.libelle}}</td>
                <td width="200px">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button p-button-success  btn-sm" (click)="editProduct(product)"></button> &nbsp;
                    <button pButton pRipple icon="pi pi-check" class="p-button p-button-help btn-sm" (click)="deleteProduct(product)"></button>&nbsp;
                    <button pButton pRipple icon="pi pi-trash" class="p-button p-button-warning btn-sm" (click)="deleteProduct(product)"></button>
               
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Au total il y a  {{tableData ? tableData.length : 0 }} enregistrement(s).
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Assurance Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
       
        <div class="field">
            <label for="name">Name</label>
            <input type="text" pInputText id="id" [(ngModel)]="product.id" required autofocus />
            <small class="p-error" *ngIf="submitted && !product.id">Name is required.</small>
        </div>
        <div class="field">
            <label for="name">Name</label>
            <input type="text" pInputText id="id" [(ngModel)]="product.libelle" required autofocus />
            <small class="p-error" *ngIf="submitted && !product.libelle">Name is required.</small>
        </div>
        
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

</div>
</section>


