<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Tableau de bord'" [items]="[]" [active_item]="'Patient'"></app-breadcrumb>
      </div>
      <!-- #END# Widgets -->
      <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
        <div class="grid">
            <div class="col-12 md:col-6 lg:col-3">
                <div class="surface-card shadow-2 p-3 border-round">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Patients</span>
                            <div class="text-900 font-medium text-xl">300</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-users text-blue-500 text-xl"></i>
                        </div>
                    </div>
                    <span class="text-green-500 font-medium">100% </span>
                    <span class="text-500">des patients</span>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="surface-card shadow-2 p-3 border-round">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Patients assuré</span>
                            <div class="text-900 font-medium text-xl">120</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-user-plus text-orange-500 text-xl"></i>
                        </div>
                    </div>
                    <span class="text-green-500 font-medium">40% </span>
                    <span class="text-500">des patients</span>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="surface-card shadow-2 p-3 border-round">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Patients non assuré</span>
                            <div class="text-900 font-medium text-xl">170</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-user-minus text-cyan-500 text-xl"></i>
                        </div>
                    </div>
                    <span class="text-green-500 font-medium">50% </span>
                    <span class="text-500">des patients</span>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="surface-card shadow-2 p-3 border-round">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Nouveaux patients</span>
                            <div class="text-900 font-medium text-xl">10</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-sync text-purple-500 text-xl"></i>
                        </div>
                    </div>
                    <span class="text-green-500 font-medium">10% </span>
                    <span class="text-500">des patients</span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
        <div class="grid">
            <div class="col-12 md:col-6 lg:col-3">
                <div class="surface-card shadow-2 p-3 border-round">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Abonnements</span>
                            <div class="text-900 font-medium text-xl">152</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-green-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-file-edit text-blue-500 text-xl"></i>
                        </div>
                    </div>
                    <span class="text-green-500 font-medium">10% </span>
                    <span class="text-500">des patients</span>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="surface-card shadow-2 p-3 border-round">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Ordonances</span>
                            <div class="text-900 font-medium text-xl">100</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-book text-orange-500 text-xl"></i>
                        </div>
                    </div>
                    <span class="text-green-500 font-medium">Facture: </span>
                    <span class="text-500">3 00 000 FCFA</span>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="surface-card shadow-2 p-3 border-round">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Documents</span>
                            <div class="text-900 font-medium text-xl">28441</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                        </div>
                    </div>
                    <span class="text-green-500 font-medium">520  </span>
                    <span class="text-500">newly registered</span>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="surface-card shadow-2 p-3 border-round">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Hospitalisation à domicile</span>
                            <div class="text-900 font-medium text-xl">152</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-comment text-purple-500 text-xl"></i>
                        </div>
                    </div>
                    <span class="text-green-500 font-medium">85 </span>
                    <span class="text-500">responded</span>
                </div>
            </div>
        </div>
    </div>


      <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
        <div class="grid">
            <div class="col-12 md:col-6 lg:col-4">
                <div class="surface-card shadow-2 p-3 border-round">

                  <div class="float-start">
                    <h3 class="text-muted">Patients assuré</h3>
                    <h6>72 bmp <span class="text-muted font-12">(Appels vidéo)</span></h6>
                  </div>
                  <div class="mb-5">
                    <apx-chart [series]="restRateChartOptions.series" [chart]="restRateChartOptions.chart"
                      [xaxis]="restRateChartOptions.xaxis" [stroke]="restRateChartOptions.stroke"
                      [colors]="restRateChartOptions.colors" [dataLabels]="restRateChartOptions.dataLabels"
                      [legend]="restRateChartOptions.legend" [markers]="restRateChartOptions.markers"
                      [grid]="restRateChartOptions.grid" [yaxis]="restRateChartOptions.yaxis"
                      [tooltip]="restRateChartOptions.tooltip" [title]="restRateChartOptions.title"></apx-chart>
                  </div>

                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-4">
              <div class="surface-card shadow-2 p-3 border-round">

                <div class="float-start">
                  <h3 class="text-muted">Patients assuré</h3>
                  <h6>72 bmp <span class="text-muted font-12">(Appels téléhonique)</span></h6>
                </div>
                <div class="mb-5">
                  <apx-chart [series]="restRateChartOptions2.series" [chart]="restRateChartOptions2.chart"
                    [xaxis]="restRateChartOptions2.xaxis" [stroke]="restRateChartOptions2.stroke"
                    [colors]="restRateChartOptions2.colors" [dataLabels]="restRateChartOptions2.dataLabels"
                    [legend]="restRateChartOptions2.legend" [markers]="restRateChartOptions2.markers"
                    [grid]="restRateChartOptions2.grid" [yaxis]="restRateChartOptions2.yaxis"
                    [tooltip]="restRateChartOptions2.tooltip" [title]="restRateChartOptions2.title"></apx-chart>
                </div>

              </div>
          </div>
          <div class="col-12 md:col-6 lg:col-4">
            <div class="surface-card shadow-2 p-3 border-round">

              <div class="float-start">
                <h3 class="text-muted">Patients assuré</h3>
                <h6>72 bmp <span class="text-muted font-12">(Consultation à domicile)</span></h6>
              </div>
              <div class="mb-5">
                <apx-chart [series]="restRateChartOptions3.series" [chart]="restRateChartOptions3.chart"
                  [xaxis]="restRateChartOptions3.xaxis" [stroke]="restRateChartOptions3.stroke"
                  [colors]="restRateChartOptions3.colors" [dataLabels]="restRateChartOptions3.dataLabels"
                  [legend]="restRateChartOptions3.legend" [markers]="restRateChartOptions3.markers"
                  [grid]="restRateChartOptions3.grid" [yaxis]="restRateChartOptions3.yaxis"
                  [tooltip]="restRateChartOptions3.tooltip" [title]="restRateChartOptions3.title"></apx-chart>
              </div>

            </div>
        </div>
        </div>
    </div>

    <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
      <div class="grid">
        <div class="col-12 md:col-6 lg:col-4">
          <div class="surface-card shadow-2 p-3 border-round">
            <div class="float-start">
              <h3 class="text-muted">Patients non assuré</h3>
              <h5>129 bmp <span class="text-muted font-12">(Apels vidéo)</span></h5>
            </div>
            <div class="mb-5">
              <apx-chart [series]="performanceRateChartOptions.series" [chart]="performanceRateChartOptions.chart"
                [xaxis]="performanceRateChartOptions.xaxis" [stroke]="performanceRateChartOptions.stroke"
                [colors]="performanceRateChartOptions.colors" [dataLabels]="performanceRateChartOptions.dataLabels"
                [legend]="performanceRateChartOptions.legend" [markers]="performanceRateChartOptions.markers"
                [grid]="performanceRateChartOptions.grid" [yaxis]="performanceRateChartOptions.yaxis"
                [tooltip]="performanceRateChartOptions.tooltip" [title]="performanceRateChartOptions.title"></apx-chart>
            </div>
          </div>
      </div>
          <div class="col-12 md:col-6 lg:col-4">
              <div class="surface-card shadow-2 p-3 border-round">
                <div class="float-start">
                  <h3 class="text-muted">Patients non assuré</h3>
                  <h5>129 bmp <span class="text-muted font-12">(Appels téléphonique)</span></h5>
                </div>
                <div class="mb-5">
                  <apx-chart [series]="performanceRateChartOptions2.series" [chart]="performanceRateChartOptions2.chart"
                    [xaxis]="performanceRateChartOptions2.xaxis" [stroke]="performanceRateChartOptions2.stroke"
                    [colors]="performanceRateChartOptions2.colors" [dataLabels]="performanceRateChartOptions2.dataLabels"
                    [legend]="performanceRateChartOptions2.legend" [markers]="performanceRateChartOptions2.markers"
                    [grid]="performanceRateChartOptions2.grid" [yaxis]="performanceRateChartOptions2.yaxis"
                    [tooltip]="performanceRateChartOptions2.tooltip" [title]="performanceRateChartOptions2.title"></apx-chart>
                </div>
              </div>
          </div>
          <div class="col-12 md:col-6 lg:col-4">
              <div class="surface-card shadow-2 p-3 border-round">
                <div class="header">
                  <h2>Medications</h2>
                </div>
                <div class="body">
                  <div class="table-responsive">
                    <table class="table table-borderless medicine-list">
                      <tr>
                        <td><i class="fas fa-tablets pill-style"></i> Econochlor (chloramphenicol-oral)</td>
                        <td class="text-end w-25">
                          <span class="badge-outline">1 - 0 - 1</span>
                        </td>
                      </tr>
                      <tr>
                        <td><i class="fas fa-capsules pill-style"></i> Desmopressin tabs</td>
                        <td class="text-end w-25">
                          <span class="badge-outline">1 - 1 - 1</span>
                        </td>
                      </tr>
                      <tr>
                        <td><i class="fas fa-syringe pill-style"></i> Abciximab-injection</td>
                        <td class="text-end w-25">
                          <span class="badge-outline">1 Daily</span>
                        </td>
                      </tr>
                      <tr>
                        <td><i class="fas fa-pills pill-style"></i> Kevzara sarilumab</td>
                        <td class="text-end w-25">
                          <span class="badge-outline">0 - 0 - 1</span>
                        </td>
                      </tr>
                      <tr>
                        <td><i class="fas fa-capsules pill-style"></i> Gentamicin-topical</td>
                        <td class="text-end w-25">
                          <span class="badge-outline">1 - 0 - 1</span>
                        </td>
                      </tr>
                      <tr>
                        <td><i class="fas fa-tablets pill-style"></i> Paliperidone palmitate</td>
                        <td class="text-end w-25">
                          <span class="badge-outline">1 - 1 - 1</span>
                        </td>
                      </tr>
                      <tr>
                        <td><i class="fas fa-syringe pill-style"></i> Sermorelin-injectable</td>
                        <td class="text-end w-25">
                          <span class="badge-outline">1 Daily</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="text-center p-t-20">
                    <button mat-stroked-button color="primary">Report Adverse Effect</button>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
    </div>

  </section>

