<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Rechercher'" [items]="[]" [active_item]="'patient'"></app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card">
            <div class="header">
              <h2>Rechercher un patient</h2>
            </div>
            <div class="body">
  
              <!-- Add content here -->
              <apx-chart [series]="serie" [chart]="chart">
              </apx-chart>
              <div echarts [options]="options1" class="demo-chart"></div>


              <div class="button-groups">
                <button (click)="theme=undefined" mat-button>default</button>
                <button (click)="theme='dark'" mat-raised-button color="primary">Foncé</button>
                <button (click)="theme=coolTheme" mat-raised-button color="warn">change de coleur</button>
              </div>
              <div echarts [options]="options" [theme]="theme" class="demo-chart"></div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  