<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Facture'" [items]="[]" [active_item]="'Créer une facture'"></app-breadcrumb>
      </div>
  
      <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
        <div class="grid">
            <div class="col-12 md:col-6 lg:col-3">
                <div #d1 id="rdv" class="surface-card shadow-2 p-3 border-round hover:surface-300" (click)="formulaire(d1)">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Rendez-vous</span>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-users text-blue-500 text-xl"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div #d2 id="appelVideo" class="surface-card shadow-2 p-3 border-round hover:surface-300" (click)="formulaire(d2)">
                    <div  class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Appels vidéos</span>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-video text-orange-500 text-xl"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div  #d3 id="appelTelephonique" class="surface-card shadow-2 p-3 border-round hover:surface-300" (click)="formulaire(d3)">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Appels téléphonique</span>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-phone text-cyan-500 text-xl"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div #d4 id="consultationDomicile" class="surface-card shadow-2 p-3 border-round hover:surface-300" (click)="formulaire(d4)">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Consultations à domicile</span>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-sync text-purple-500 text-xl"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
        <div class="grid">
            <div class="col-12 md:col-6 lg:col-3">
                <div #d5 id="chat" class="surface-card shadow-2 p-3 border-round hover:surface-300" (click)="formulaire(d5)">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Chat</span>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-credit-card text-blue-500 text-xl"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div #d6 id="examen" class="surface-card shadow-2 p-3 border-round hover:surface-300" (click)="formulaire(d6)">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Examen</span>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div #d7 id="hospitalisation" class="surface-card shadow-2 p-3 border-round hover:surface-300" (click)="formulaire(d7)">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Hospitalisation à domicile</span>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div #d8 id="testLaboratoire" class="surface-card shadow-2 p-3 border-round hover:surface-300" (click)="formulaire(d8)">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Tests de laboratoire</span>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-comment text-purple-500 text-xl"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-12 lg:col-12">
                <div class="surface-card shadow-2 p-3 border-round">
                    <p-tabView>
                        <p-tabPanel header="Facture des rendez-vous">
                            <p-table #dt
                                     [scrollable]="true"
                                     scrollHeight="500px"
                                     [globalFilterFields]="['libelle','email','ville']"
                                     [filterDelay]="0"
                                     styleClass="p-datatable-gridlines"
                                     selectionMode="multiple"
                                     [resizableColumns]="true">
                                <ng-template pTemplate="caption">
                                    <div class="flex align-items-center justify-content-between">
                                        <h5 class="m-0">Rendez-vous</h5>
                                        <span class="p-input-icon-left">
                                          <i class="pi pi-search"></i>
                                          <input pInputText type="text" placeholder="Rechercher..." />
                                     </span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th [style]="{textAlign: 'center'}" pSortableColumn="libelle">Date de création<p-sortIcon field="libelle"></p-sortIcon>
                                        </th>
                                        <th [style]="{textAlign: 'center'}" pSortableColumn="email" class="text-center">Identifiant du rendez-vous <p-sortIcon field="email"></p-sortIcon>
                                        </th>
                                        <th [style]="{textAlign: 'center'}" pSortableColumn="tel" class="text-center">Patient <p-sortIcon field="tel"></p-sortIcon>
                                        </th>
                                        <th [style]="{textAlign: 'center'}" pSortableColumn="ville" class="text-center">Médecin<p-sortIcon field="ville"></p-sortIcon>
                                        </th>
                                        <th [style]="{textAlign: 'center'}" pSortableColumn="ville" class="text-center">Montant<p-sortIcon field="ville"></p-sortIcon>
                                        </th>
                                        <th [style]="{textAlign: 'center'}" pSortableColumn="ville" class="text-center">Statut<p-sortIcon field="ville"></p-sortIcon>
                                        </th>
                                        <th [style]="{textAlign: 'center'}">Actions</th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <p-columnFilter [showClearButton]="false" type="text" field="libelle" matchMode="contains" pTooltip="Options de filtrage">
                                                <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                                                    <input type="text" #valeur class="p-2 border" maxlength="20"
                                                           [value]="value"
                                                           pInputText
                                                           (input)="filter(valeur.value)"
                                                    >
                                                </ng-template>
                                            </p-columnFilter>
                                        </th>
                                        <th>
                                            <p-columnFilter [showClearButton]="false" type="text" field="email" matchMode="contains" pTooltip="Options de filtrage">
                                                <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                                                    <input type="text" #valeur class="p-2 border" maxlength="20"
                                                           [value]="value"
                                                           pInputText
                                                           (input)="filter(valeur.value)"
                                                    >
                                                </ng-template>
                                            </p-columnFilter>
                                        </th>
                                        <th>
                                            <p-columnFilter [showClearButton]="false" type="text" field="tel" matchMode="contains" pTooltip="Options de filtrage">
                                                <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                                                    <input type="text" #valeur class="p-2 border" maxlength="20"
                                                           [value]="value"
                                                           pInputText
                                                           (input)="filter(valeur.value)"
                                                    >
                                                </ng-template>
                                            </p-columnFilter>
                                        </th>
                                        <th>
                                            <p-columnFilter [showClearButton]="false" type="text" field="ville" matchMode="contains" pTooltip="Options de filtrage">
                                                <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                                                    <input type="text" #valeur class="p-2 border" maxlength="20"
                                                           [value]="value"
                                                           pInputText
                                                           (input)="filter(valeur.value)"
                                                    >
                                                </ng-template>
                                            </p-columnFilter>
                                        </th>
                                        <th>
                                            <p-columnFilter [showClearButton]="false" type="text" field="ville" matchMode="contains" pTooltip="Options de filtrage">
                                                <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                                                    <input type="text" #valeur class="p-2 border" maxlength="20"
                                                           [value]="value"
                                                           pInputText
                                                           (input)="filter(valeur.value)"
                                                    >
                                                </ng-template>
                                            </p-columnFilter>
                                        </th>
                                        <th>
                                            <p-columnFilter [showClearButton]="false" type="text" field="ville" matchMode="contains" pTooltip="Options de filtrage">
                                                <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                                                    <input type="text" #valeur class="p-2 border" maxlength="20"
                                                           [value]="value"
                                                           pInputText
                                                           (input)="filter(valeur.value)"
                                                    >
                                                </ng-template>
                                            </p-columnFilter>
                                        </th>
                                        <th></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-assurance>
                                    <tr>
                                        <td [style]="{textAlign: 'center'}">{{assurance.libelle}}</td>
                                        <td>{{assurance.email}}</td>
                                        <td class="text-right">{{assurance.tel}}</td>
                                        <td>{{assurance.ville}}</td>
                                        <td >
                                            <button pButton pRipple type="button" pTooltip="Modifier" icon="pi pi-pencil"
                                                    class="p-button-rounded p-button-text"></button>
                                            <button pButton pRipple type="button" pTooltip="Detail de l'assurance" icon="pi pi-angle-right"
                                                    class="p-button-rounded p-button-text p-button-success"></button>
                                            <button pButton pRipple type="button" pTooltip="Supprimer l'assurance"  icon="pi pi-trash"
                                                    class="p-button-rounded p-button-text p-button-danger"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="summary">
                                    <div class="flex align-items-center justify-content-between">
                                        Total:  factures pour les rendez-vous
                                    </div>
                                </ng-template>
                            </p-table>
                        </p-tabPanel>
                        <p-tabPanel header="Facture des ordonnances">
                            <p-table #dt
                                     [scrollable]="true"
                                     scrollHeight="500px"
                                     [globalFilterFields]="['libelle','email','ville']"
                                     [filterDelay]="0"
                                     styleClass="p-datatable-gridlines"
                                     selectionMode="multiple"
                                     [resizableColumns]="true">
                                <ng-template pTemplate="caption">
                                    <div class="flex align-items-center justify-content-between">
                                        <h5 class="m-0">Ordonnance</h5>
                                        <span class="p-input-icon-left">
                                          <i class="pi pi-search"></i>
                                          <input pInputText type="text" placeholder="Rechercher..." />
                                     </span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th [style]="{textAlign: 'center'}" pSortableColumn="libelle">Date de création<p-sortIcon field="libelle"></p-sortIcon>
                                        </th>
                                        <th [style]="{textAlign: 'center'}" pSortableColumn="email" class="text-center">Identifiant de l'ordonnance <p-sortIcon field="email"></p-sortIcon>
                                        </th>
                                        <th [style]="{textAlign: 'center'}" pSortableColumn="tel" class="text-center">Patient <p-sortIcon field="tel"></p-sortIcon>
                                        </th>
                                        <th [style]="{textAlign: 'center'}" pSortableColumn="ville" class="text-center">Médecin<p-sortIcon field="ville"></p-sortIcon>
                                        </th>
                                        <th [style]="{textAlign: 'center'}" pSortableColumn="ville" class="text-center">Montant<p-sortIcon field="ville"></p-sortIcon>
                                        </th>
                                        <th [style]="{textAlign: 'center'}" pSortableColumn="ville" class="text-center">Statut<p-sortIcon field="ville"></p-sortIcon>
                                        </th>
                                        <th [style]="{textAlign: 'center'}">Actions</th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <p-columnFilter [showClearButton]="false" type="text" field="libelle" matchMode="contains" pTooltip="Options de filtrage">
                                                <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                                                    <input type="text" #valeur class="p-2 border" maxlength="20"
                                                           [value]="value"
                                                           pInputText
                                                           (input)="filter(valeur.value)"
                                                    >
                                                </ng-template>
                                            </p-columnFilter>
                                        </th>
                                        <th>
                                            <p-columnFilter [showClearButton]="false" type="text" field="email" matchMode="contains" pTooltip="Options de filtrage">
                                                <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                                                    <input type="text" #valeur class="p-2 border" maxlength="20"
                                                           [value]="value"
                                                           pInputText
                                                           (input)="filter(valeur.value)"
                                                    >
                                                </ng-template>
                                            </p-columnFilter>
                                        </th>
                                        <th>
                                            <p-columnFilter [showClearButton]="false" type="text" field="tel" matchMode="contains" pTooltip="Options de filtrage">
                                                <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                                                    <input type="text" #valeur class="p-2 border" maxlength="20"
                                                           [value]="value"
                                                           pInputText
                                                           (input)="filter(valeur.value)"
                                                    >
                                                </ng-template>
                                            </p-columnFilter>
                                        </th>
                                        <th>
                                            <p-columnFilter [showClearButton]="false" type="text" field="ville" matchMode="contains" pTooltip="Options de filtrage">
                                                <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                                                    <input type="text" #valeur class="p-2 border" maxlength="20"
                                                           [value]="value"
                                                           pInputText
                                                           (input)="filter(valeur.value)"
                                                    >
                                                </ng-template>
                                            </p-columnFilter>
                                        </th>
                                        <th>
                                            <p-columnFilter [showClearButton]="false" type="text" field="ville" matchMode="contains" pTooltip="Options de filtrage">
                                                <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                                                    <input type="text" #valeur class="p-2 border" maxlength="20"
                                                           [value]="value"
                                                           pInputText
                                                           (input)="filter(valeur.value)"
                                                    >
                                                </ng-template>
                                            </p-columnFilter>
                                        </th>
                                        <th>
                                            <p-columnFilter [showClearButton]="false" type="text" field="ville" matchMode="contains" pTooltip="Options de filtrage">
                                                <ng-template pTemplate="filter" let-filter="filterCallback" let-value="$implicit">
                                                    <input type="text" #valeur class="p-2 border" maxlength="20"
                                                           [value]="value"
                                                           pInputText
                                                           (input)="filter(valeur.value)"
                                                    >
                                                </ng-template>
                                            </p-columnFilter>
                                        </th>
                                        <th></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-assurance>
                                    <tr>
                                        <td [style]="{textAlign: 'center'}">{{assurance.libelle}}</td>
                                        <td>{{assurance.email}}</td>
                                        <td class="text-right">{{assurance.tel}}</td>
                                        <td>{{assurance.ville}}</td>
                                        <td >
                                            <button pButton pRipple type="button" pTooltip="Modifier" icon="pi pi-pencil"
                                                    class="p-button-rounded p-button-text"></button>
                                            <button pButton pRipple type="button" pTooltip="Detail de l'assurance" icon="pi pi-angle-right"
                                                    class="p-button-rounded p-button-text p-button-success"></button>
                                            <button pButton pRipple type="button" pTooltip="Supprimer l'assurance"  icon="pi pi-trash"
                                                    class="p-button-rounded p-button-text p-button-danger"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="summary">
                                    <div class="flex align-items-center justify-content-between">
                                        Total:  factures pour les ordonnances
                                    </div>
                                </ng-template>
                            </p-table>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
        <p-dialog [(visible)]="formulaireDialog" [style]="{width:'700px'}" [header]="titre" [modal]="true"
                  styleClass="p-fluid">
            <form (ngSubmit)="enregistrerFacture()">
                <div class="grid">
                    <div class="col-12 md:col-6 lg:col-4">
						  <span>
							<label>Date du rendez-vous</label>
							<p-calendar [baseZIndex]="3000" appendTo="body" [showIcon]="true" inputId="icon"></p-calendar>
						  </span>
                    </div>

                    <div class="col-12 md:col-6 lg:col-4">
						  <span>
							<label>Patient</label>
							<p-autoComplete   field="user.nom" [dropdown]="true">
							</p-autoComplete>
						  </span>
                    </div>

                    <div class="col-12 md:col-6 lg:col-4">
                        <label>Medecin</label>
                        <p-autoComplete [virtualScroll]="true"  field="user.nom" [dropdown]="true">
                        </p-autoComplete>
                    </div>

                    <div class="col-12 md:col-6 lg:col-4">
                        <label>Reception</label>
                        <input type="text" pInputText>
                    </div>

                    <div class="col-12 md:col-6 lg:col-4">
						  <span>
							<label>Statut</label>
							<input type="text" pInputText>
						  </span>
                    </div>

                    <div class="col-12">
                        <p-divider align="left" type="dashed" layout="horizontal">
                            <div class="inline-flex align-items-center">
                                <i class="pi pi-home mr-2"></i>
                                <b>Adresses</b>
                            </div>
                        </p-divider>

                    </div>

                    <div class="col-12 md:col-12 lg:col-12">
                        <label>Ville</label>
                        <p-autoComplete  [virtualScroll]="true"  field="user.nom" [dropdown]="true">
                        </p-autoComplete>
                    </div>

                    <div class="col-12 md:col-12 lg:col-12">
                        <label>Lieu</label>
                        <p-autoComplete  [virtualScroll]="true" field="user.nom" [dropdown]="true">
                        </p-autoComplete>
                    </div>
                    <div class="col-12">
							<span>
							  <label>Adresse</label>
							  <input type="text" pInputText >
							</span>
                    </div>
                    <div class="col-12">
							<span>
							  <label>Commentaire</label>
								<textarea pInputTextarea [style]="{'height':'160px'}"></textarea>
							</span>
                    </div>

                    <div class="col-12 md:col-12">
                        <div class="flex justify-content-end">
                            <button type="submit" pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-bouton-texte p-bouton-sm
                                  w-10rem h-2rem m-2"></button>
                            <button type="button" pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-danger p-bouton-sm
                                  w-10rem h-2rem m-2"></button>
                        </div>
                    </div>
                </div>
            </form>
        </p-dialog>
    </div>
  </section>
  
