<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Factures'" [items]="[]" [active_item]="'facture'"></app-breadcrumb>
    </div>
    <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
      <div class="grid">
        <div class="col-12 md:col-7 lg:col-7">
          <div class="grid">
            <div class="col-12 md:col-6 lg:col-6">
              <div class="shadow-4 p-3 border-round bg-teal-100">
                <div class="flex justify-content-between mb-3">
                  <div>
                    <span class="block text-500 font-medium mb-3  text-900">Revenu Total</span>
                    <div class="text-900 font-medium text-xl  text-900">37 000 000 FCFA</div>
                  </div>
                  <div class="flex align-items-center justify-content-center  bg-white-100 border-round" style="width:2.5rem;height:2.5rem">
                    <i class="pi pi-window-minimize text-900 text-xl"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 md:col-6 lg:col-6">
              <div class="shadow-4 p-3 border-round bg-teal-100">
                <div class="flex justify-content-between mb-3">
                  <div>
                    <span class="block text-500 font-medium mb-3  text-900">Consultation à domicile</span>
                  </div>
                  <div class="flex align-items-center justify-content-center  bg-white-100 border-round" style="width:2.5rem;height:2.5rem">
                    <i class="pi pi-window-minimize text-900 text-xl"></i>
                  </div>
                </div>
                <div class="flex justify-content-between mb-3">
                  <div>
                    <span class="text-900 font-medium mr-7">152</span>
                    <span class="text-900 font-medium">Montant: 20 00 000 FCFA</span>
                  </div>
                </div>
                <span class="text-900">Prix unitaire: 30 772 fcfa</span>
              </div>
            </div>
            <div class="col-12 md:col-6 lg:col-6">
              <div class="shadow-4 p-3 border-round bg-teal-100">
                <div class="flex justify-content-between mb-3">
                  <div>
                    <span class="block text-500 font-medium mb-3  text-900">Appels vidéo</span>
                  </div>
                  <div class="flex align-items-center justify-content-center  bg-white-100 border-round" style="width:2.5rem;height:2.5rem">
                    <i class="pi pi-window-minimize text-900 text-xl"></i>
                  </div>
                </div>
                <div class="flex justify-content-between mb-3">
                  <div>
                    <span class="text-900 font-medium mr-7">152</span>
                    <span class="text-900 font-medium">Montant: 20 00 000 FCFA</span>
                  </div>
                </div>
                <span class="text-900">Prix unitaire: 30 772 fcfa</span>
              </div>
            </div>
            <div class="col-12 md:col-6 lg:col-6">
              <div class="shadow-4 p-3 border-round bg-teal-100">
                <div class="flex justify-content-between mb-3">
                  <div>
                    <span class="block text-500 font-medium mb-3  text-900">Appels téléphonique</span>
                  </div>
                  <div class="flex align-items-center justify-content-center  bg-white-100 border-round" style="width:2.5rem;height:2.5rem">
                    <i class="pi pi-window-minimize text-900 text-xl"></i>
                  </div>
                </div>
                <div class="flex justify-content-between mb-3">
                  <div>
                    <span class="text-900 font-medium mr-7">152</span>
                    <span class="text-900 font-medium">Montant: 20 00 000 FCFA</span>
                  </div>
                </div>
                <span class="text-900">Prix unitaire: 30 772 fcfa</span>
              </div>
            </div>
            <div class="col-12 md:col-6 lg:col-6">
              <div class="shadow-4 p-3 border-round bg-teal-100">
                <div class="flex justify-content-between mb-3">
                  <div>
                    <span class="block text-500 font-medium mb-3  text-900">Chats</span>
                  </div>
                  <div class="flex align-items-center justify-content-center  bg-white-100 border-round" style="width:2.5rem;height:2.5rem">
                    <i class="pi pi-window-minimize text-900 text-xl"></i>
                  </div>
                </div>
                <div class="flex justify-content-between mb-3">
                  <div>
                    <span class="text-900 font-medium mr-7">152</span>
                    <span class="text-900 font-medium">Montant: 20 00 000 FCFA</span>
                  </div>
                </div>
                <span class="text-900">Prix unitaire: 30 772 fcfa</span>
              </div>
            </div>
            <div class="col-12 md:col-6 lg:col-6">
              <div class="shadow-4 p-3 border-round bg-teal-100">
                <div class="flex justify-content-between mb-3">
                  <div>
                    <span class="block text-500 font-medium mb-3  text-900">Rendez-vous</span>
                  </div>
                  <div class="flex align-items-center justify-content-center  bg-white-100 border-round" style="width:2.5rem;height:2.5rem">
                    <i class="pi pi-window-minimize text-900 text-xl"></i>
                  </div>
                </div>
                <div class="flex justify-content-between mb-3">
                  <div>
                    <span class="text-900 font-medium mr-7">152</span>
                    <span class="text-900 font-medium">Montant: 20 00 000 FCFA</span>
                  </div>
                </div>
                <span class="text-900">Prix unitaire: 30 772 fcfa</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-5 lg:col-5">
          <div class="clearfix">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
              [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
              [responsive]="chartOptions.responsive" [xaxis]="chartOptions.xaxis"
              [tooltip]="chartOptions.tooltip" [legend]="chartOptions.legend" [fill]="chartOptions.fill">
            </apx-chart>
          </div>
        </div>
        <div class="col-md-4">
          <h5 class="tx-primary m-b-30">Services</h5>
          <div class="progress-list m-b-10">
            <div class="details">
              <div class="title">Consultation à domicile</div>
            </div>
            <div class="status">
              <span>6.3</span>%
            </div>
            <div class="progress-xs not-rounded progress">
              <div class="progress-bar progress-bar-warning width-per-40" role="progressbar"
                aria-valuenow="6.3" aria-valuemax="100">
                <span class="sr-only">6.3%</span>
              </div>
            </div>
          </div>
          <div class="progress-list m-b-10">
            <div class="details">
              <div class="title">Appels Téléphonique</div>
            </div>
            <div class="status">
              <span>9</span>%
            </div>
            <div class="progress-xs not-rounded progress">
              <div class="progress-bar progress-bar-danger width-per-49" role="progressbar"
                aria-valuenow="9" aria-valuemax="100">
                <span class="sr-only">9%</span>
              </div>
            </div>
          </div>
          <div class="progress-list m-b-10">
            <div class="details">
              <div class="title">Chats</div>
            </div>
            <div class="status">
              <span>84.7</span>%
            </div>
            <div class="progress-xs not-rounded progress">
              <div class="progress-bar progress-bar-blue width-per-65" role="progressbar"
                aria-valuenow="84.7" aria-valuemax="100">
                <span class="sr-only">84.7%</span>
              </div>
            </div>
          </div>
          <div class="progress-list m-b-10">
            <div class="details">
              <div class="title">Examen</div>
            </div>
            <div class="status">
              <span>25</span>%
            </div>
            <div class="progress-xs not-rounded progress">
              <div class="progress-bar progress-bar-success width-per-28" role="progressbar"
                aria-valuenow="28" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only">25%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-3">
          <!-- chart [chartType]="doughnutChartType"-->
          <div class="recent-report__chart">
            <canvas baseChart class="chart" [data]="doughnutChartData" [labels]="doughnutChartLabels"
              [options]="doughnutChartOptions" [legend]="doughnutChartLegend" chartType="doughnut"
              [colors]="doughnutChartColors"></canvas>
          </div>
        </div>
        <div class="col-md-4 mt-3">
          <div class="country-chart">
            <div class="d-flex justify-content-between mx-xl-5 mt-3">
              <div class="chart-note">
                <span class="dot dot-product bg-green"></span>
                <span>Chat</span>
              </div>
              <p class="mb-0">10 000 000 FCFA</p>
            </div>
            <div class="d-flex justify-content-between mx-xl-5 mt-3">
              <div class="chart-note">
                <span class="dot dot-product bg-orange"></span>
                <span>Appel Téléphonique</span>
              </div>
              <p class="mb-0">7 000 000 FCFA</p>
            </div>
            <div class="d-flex justify-content-between mx-xl-5 mt-3">
              <div class="chart-note">
                <span class="dot dot-product bg-purple"></span>
                <span>Consultation</span>
              </div>
              <p class="mb-0">20 000 000 FCFA</p>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-12 lg:col-12 mt-3">
          <mat-tab-group dynamicHeight>
            <mat-tab label="Consultations à domicile">
              <ul class="list-unstyled list-unstyled-border list-unstyled-noborder">
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig1.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.Cara Stevens</div>
                    <div class="text-job text-muted mb-0">Radiologist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">12 June '20</div>
                    <div class="text-job text-muted mb-0">09:00-10:00</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">CT scans</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 676545655</div>
                  </div>
                </li>
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig2.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.John Doe</div>
                    <div class="text-job text-muted mb-0">Cardiologist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">13 June '20</div>
                    <div class="text-job text-muted mb-0">11:00-11:30</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">heart checkup</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 434656764</div>
                  </div>
                </li>
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig3.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.Airi Satou</div>
                    <div class="text-job text-muted mb-0">Otolaryngologist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">12 June '20</div>
                    <div class="text-job text-muted mb-0">09:15-10:15 </div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">Diseases Of The Ear</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 45345673</div>
                  </div>
                </li>
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig4.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.Angelica Ramos</div>
                    <div class="text-job text-muted mb-0">Dentist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">12 June '20</div>
                    <div class="text-job text-muted mb-0">11:00-12:00</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">Root Canal</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 87654533</div>
                  </div>
                </li>
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig6.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.Jens Brincker</div>
                    <div class="text-job text-muted mb-0">Endocrinologist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">23 June '20</div>
                    <div class="text-job text-muted mb-0">04:00-05:00</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">Diabetes</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 45678345</div>
                  </div>
                </li>
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig7.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.Airi Satou</div>
                    <div class="text-job text-muted mb-0">Otolaryngologist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">12 June '20</div>
                    <div class="text-job text-muted mb-0">09:15-10:15 </div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">Diseases Of The Ear</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 45345673</div>
                  </div>
                </li>
              </ul>
            </mat-tab>
            <mat-tab label="Chats">
              <ul class="list-unstyled list-unstyled-border list-unstyled-noborder">
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig1.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.Cara Stevens</div>
                    <div class="text-job text-muted mb-0">Radiologist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">12 June '20</div>
                    <div class="text-job text-muted mb-0">09:00-10:00</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">CT scans</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 676545655</div>
                  </div>
                </li>
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig2.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.John Doe</div>
                    <div class="text-job text-muted mb-0">Cardiologist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">13 June '20</div>
                    <div class="text-job text-muted mb-0">11:00-11:30</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">heart checkup</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 434656764</div>
                  </div>
                </li>
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig3.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.Airi Satou</div>
                    <div class="text-job text-muted mb-0">Otolaryngologist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">12 June '20</div>
                    <div class="text-job text-muted mb-0">09:15-10:15 </div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">Diseases Of The Ear</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 45345673</div>
                  </div>
                </li>
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig4.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.Angelica Ramos</div>
                    <div class="text-job text-muted mb-0">Dentist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">12 June '20</div>
                    <div class="text-job text-muted mb-0">11:00-12:00</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">Root Canal</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 87654533</div>
                  </div>
                </li>
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig6.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.Jens Brincker</div>
                    <div class="text-job text-muted mb-0">Endocrinologist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">23 June '20</div>
                    <div class="text-job text-muted mb-0">04:00-05:00</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">Diabetes</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 45678345</div>
                  </div>
                </li>
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig7.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.Airi Satou</div>
                    <div class="text-job text-muted mb-0">Otolaryngologist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">12 June '20</div>
                    <div class="text-job text-muted mb-0">09:15-10:15 </div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">Diseases Of The Ear</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 45345673</div>
                  </div>
                </li>
              </ul>
            </mat-tab>
            <mat-tab label="Rendez-vous">
              <ul class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder">
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig7.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.Jens Brincker</div>
                    <div class="text-job text-muted mb-0">Endocrinologist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">23 June '20</div>
                    <div class="text-job text-muted mb-0">04:00-05:00</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">Diabetes</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 45678345</div>
                  </div>
                </li>
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig6.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.John Doe</div>
                    <div class="text-job text-muted mb-0">Cardiologist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">13 June '20</div>
                    <div class="text-job text-muted mb-0">11:00-11:30</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">heart checkup</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 434656764</div>
                  </div>
                </li>
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig8.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.Cara Stevens</div>
                    <div class="text-job text-muted mb-0">Radiologist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">12 June '20</div>
                    <div class="text-job text-muted mb-0">09:00-10:00</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">CT scans</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 676545655</div>
                  </div>
                  <div class="media-cta">
                  </div>
                </li>
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig9.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.Airi Satou</div>
                    <div class="text-job text-muted mb-0">Otolaryngologist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">12 June '20</div>
                    <div class="text-job text-muted mb-0">09:15-10:15 </div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">Diseases Of The Ear</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 45345673</div>
                  </div>
                </li>
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig5.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.Angelica Ramos</div>
                    <div class="text-job text-muted mb-0">Dentist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">12 June '20</div>
                    <div class="text-job text-muted mb-0">11:00-12:00</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">Root Canal</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 87654533</div>
                  </div>
                </li>
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig10.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.John Doe</div>
                    <div class="text-job text-muted mb-0">Cardiologist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">13 June '20</div>
                    <div class="text-job text-muted mb-0">11:00-11:30</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">heart checkup</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 434656764</div>
                  </div>
                </li>
              </ul>
            </mat-tab>
            <mat-tab label="Appels Téléphoniques">
              <ul class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder">
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig7.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.Jens Brincker</div>
                    <div class="text-job text-muted mb-0">Endocrinologist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">23 June '20</div>
                    <div class="text-job text-muted mb-0">04:00-05:00</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">Diabetes</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 45678345</div>
                  </div>
                </li>
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig6.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.John Doe</div>
                    <div class="text-job text-muted mb-0">Cardiologist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">13 June '20</div>
                    <div class="text-job text-muted mb-0">11:00-11:30</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">heart checkup</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 434656764</div>
                  </div>
                </li>
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig8.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.Cara Stevens</div>
                    <div class="text-job text-muted mb-0">Radiologist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">12 June '20</div>
                    <div class="text-job text-muted mb-0">09:00-10:00</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">CT scans</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 676545655</div>
                  </div>
                </li>
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig9.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.Airi Satou</div>
                    <div class="text-job text-muted mb-0">Otolaryngologist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">12 June '20</div>
                    <div class="text-job text-muted mb-0">09:15-10:15 </div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">Diseases Of The Ear</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 45345673</div>
                  </div>
                </li>
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig5.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.Angelica Ramos</div>
                    <div class="text-job text-muted mb-0">Dentist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">12 June '20</div>
                    <div class="text-job text-muted mb-0">11:00-12:00</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">Root Canal</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 87654533</div>
                  </div>
                </li>
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig10.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.John Doe</div>
                    <div class="text-job text-muted mb-0">Cardiologist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">13 June '20</div>
                    <div class="text-job text-muted mb-0">11:00-11:30</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">heart checkup</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 434656764</div>
                  </div>
                </li>
              </ul>
            </mat-tab>
            <mat-tab label="Appels Vidéos">
              <ul class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder">
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig7.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.Jens Brincker</div>
                    <div class="text-job text-muted mb-0">Endocrinologist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">23 June '20</div>
                    <div class="text-job text-muted mb-0">04:00-05:00</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">Diabetes</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 45678345</div>
                  </div>
                </li>
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig6.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.John Doe</div>
                    <div class="text-job text-muted mb-0">Cardiologist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">13 June '20</div>
                    <div class="text-job text-muted mb-0">11:00-11:30</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">heart checkup</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 434656764</div>
                  </div>
                </li>
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig8.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.Cara Stevens</div>
                    <div class="text-job text-muted mb-0">Radiologist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">12 June '20</div>
                    <div class="text-job text-muted mb-0">09:00-10:00</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">CT scans</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 676545655</div>
                  </div>
                  <div class="media-cta">
                  </div>
                </li>
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig9.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.Airi Satou</div>
                    <div class="text-job text-muted mb-0">Otolaryngologist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">12 June '20</div>
                    <div class="text-job text-muted mb-0">09:15-10:15 </div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">Diseases Of The Ear</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 45345673</div>
                  </div>
                </li>
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig5.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.Angelica Ramos</div>
                    <div class="text-job text-muted mb-0">Dentist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">12 June '20</div>
                    <div class="text-job text-muted mb-0">11:00-12:00</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">Root Canal</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 87654533</div>
                  </div>
                </li>
                <li class="app-list">
                  <img alt="image" class="rounded-circle" width="40" src="../../../../../assets/images/user/usrbig10.jpg">
                  <div class="set-flex">
                    <div class="media-title font-16">Dr.John Doe</div>
                    <div class="text-job text-muted mb-0">Cardiologist</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title font-16">13 June '20</div>
                    <div class="text-job text-muted mb-0">11:00-11:30</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Treatement</div>
                    <div class="text-job font-16">heart checkup</div>
                  </div>
                  <div class="set-flex">
                    <div class="media-title text-muted mb-0">Contact Number</div>
                    <div class="text-job font-16">+123 434656764</div>
                  </div>
                </li>
              </ul>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</section>
